Repository GEOS-DEV/GEOS, pull requests merged in 2024-11, with the labels that each got.

#2909 feat: Add option for automatic timestep computation in wave solvers
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/wavePropagation/AcousticSEM.ats
  inputFiles/wavePropagation/acous3D_Q1_srcTable_dtCFL_smoke.xml
  inputFiles/wavePropagation/source1.txt
  inputFiles/wavePropagation/source2.txt
  inputFiles/wavePropagation/time.txt
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/firstOrderEqn/isotropic/AcousticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/firstOrderEqn/isotropic/AcousticFirstOrderWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/firstOrderEqn/isotropic/AcousticFirstOrderWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustoelastic/secondOrderEqn/isotropic/AcousticElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/anisotropic/ElasticVTIWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/PrecomputeSourcesAndReceiversKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverUtils.hpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagation.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationDAS.cpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3370 refactor: Remove NoOpFunc duplicates
  src/coreComponents/physicsSolvers/fluidFlow/kernels/SinglePhaseBaseKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/SinglePhaseFVMKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/SinglePhaseHybridFVMKernels.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/MultiphasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEmbeddedFractures.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3382 fix: two hard crash fixes
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidBase.cpp
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidBase.hpp
  src/coreComponents/events/EventManager.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3408 fix: EFEM bugfixes - effective traction + oldStress
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/solid/CoupledSolidBase.hpp
  src/coreComponents/finiteVolume/TwoPointFluxApproximation.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsEFEMKernels.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsEFEMKernelsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM_impl.hpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3383 feat: keep well variables constant during poromechanics initizaliation
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseHybridFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/SinglePhaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/SinglePhaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledReservoirAndWellsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsSolver.hpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3417 refactor: boundary conditions warning message
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/ReactiveCompositionalMultiphaseOBL.cpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3337 fix: try this density treatment for gravity
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/fluidFlow/kernels/IsothermalCompositionalMultiphaseFVMKernelUtilities.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/IsothermalCompositionalMultiphaseFVMKernels.cpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/IsothermalCompositionalMultiphaseFVMKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/ThermalCompositionalMultiphaseFVMKernels.hpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3413 feat: enable THM coupling with plastic models
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/thermoPoromechanics/ThermoPoroDruckerPrager_consolidation_smoke.xml
  inputFiles/thermoPoromechanics/ThermoPoroExtendedDruckerPrager_consolidation_smoke.xml
  inputFiles/thermoPoromechanics/ThermoPoroMCC_consolidation_smoke.xml
  inputFiles/thermoPoromechanics/ThermoPoroPlastic_consolidation_base.xml
  inputFiles/thermoPoromechanics/thermoPoromechanics.ats
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/PoromechanicsKernels.cmake
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3426 fix: reset accumulation in fracture when time step cut occurs in hydrofrac solver
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/hydraulicFracturing/kgdEdgeBased_C3D6_base.xml
  inputFiles/hydraulicFracturing/kgdNodeBased_C3D6_base.xml
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.hpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3435 fix: fix changed file path in docs
  src/docs/sphinx/developerGuide/Contributing/UnitTests.rst
Labels: ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3434 fix: Restart files contain incorrect types for ArrayOfArrays
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/dataRepository/wrapperHelpers.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
Labels: ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3352 docs: Adding brief documentation to coreComponent packages
  src/coreComponents/codingUtilities/CMakeLists.txt
  src/coreComponents/common/CMakeLists.txt
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutiveDrivers/CMakeLists.txt
  src/coreComponents/dataRepository/CMakeLists.txt
  src/coreComponents/denseLinearAlgebra/CMakeLists.txt
  src/coreComponents/discretizationMethods/CMakeLists.txt
  src/coreComponents/events/CMakeLists.txt
  src/coreComponents/fieldSpecification/CMakeLists.txt
  src/coreComponents/fileIO/CMakeLists.txt
  src/coreComponents/finiteElement/CMakeLists.txt
  src/coreComponents/finiteVolume/CMakeLists.txt
  src/coreComponents/functions/CMakeLists.txt
  src/coreComponents/linearAlgebra/CMakeLists.txt
  src/coreComponents/mainInterface/CMakeLists.txt
  src/coreComponents/math/CMakeLists.txt
  src/coreComponents/mesh/CMakeLists.txt
  src/coreComponents/physicsSolvers/CMakeLists.txt
  src/coreComponents/schema/CMakeLists.txt
  src/coreComponents/unitTests/CMakeLists.txt
Labels: type: documentation, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3438 fix: out of date python package names correction
  scripts/setupPythonEnvironment.bash
Labels: type: bug, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3327 feat: Nonlinear Max Change Reporting to include cell location
  src/coreComponents/common/MpiWrapper.hpp
  src/coreComponents/mesh/ObjectManagerBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/SolutionScalingKernel.hpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3444 feat: This PR makes the timestep summary information logging introduced in #3303 contingent on the log level of the solver
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3236 feat: Immiscible water model
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidSelector.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluid.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluid.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluidUpdates.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterDensity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterParameters.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterParameters.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterViscosity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterViscosity.hpp
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/constitutive/unitTests/testImmiscibleWaterProperties.cpp
  src/coreComponents/constitutiveDrivers/CMakeLists.txt
  src/coreComponents/constitutiveDrivers/fluid/multiFluid/compositional/PVTDriverRunTestCompositionalThreePhaseLohrenzBrayClarkViscosity.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/constitutiveTests/CMakeLists.txt
  src/coreComponents/unitTests/constitutiveTests/testPVT_ThreePhaseCompositional.xml
  src/coreComponents/unitTests/constitutiveTests/testPVT_ThreePhaseCompositional_blackOil.txt
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3445 fix: bugfix about norm vector size
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3439 fix: EDFM bugfixes, part of #3348
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/poromechanicsFractures/ExponentialDecayPermeability_conformingFracture_base.xml
  inputFiles/poromechanicsFractures/ExponentialDecayPermeability_edfm_base.xml
  inputFiles/poromechanicsFractures/SlipPermeability_embeddedFrac.xml
  inputFiles/poromechanicsFractures/SlipPermeability_pEDFM_base.xml
  inputFiles/poromechanicsFractures/WillisRichardsPermeability_efem-edfm_base.xml
  src/coreComponents/constitutive/contact/CoulombFriction.hpp
  src/coreComponents/constitutive/contact/FrictionBase.hpp
  src/coreComponents/constitutive/contact/FrictionlessContact.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM_impl.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/ThermalSinglePhasePoromechanicsEFEM.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/ThermalSinglePhasePoromechanicsEFEM_impl.hpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3449 fix: bug in GEOS build
  src/cmake/thirdparty/SetupGeosxThirdParty.cmake
  src/coreComponents/common/format/StringUtilities.cpp
Labels: type: bug, type: build system, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#2637 feat: choose the number of output vtu files
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/fileIO/Outputs/VTKOutput.cpp
  src/coreComponents/fileIO/Outputs/VTKOutput.hpp
  src/coreComponents/fileIO/vtk/VTKPolyDataWriterInterface.cpp
  src/coreComponents/fileIO/vtk/VTKPolyDataWriterInterface.hpp
  src/coreComponents/schema/schema.xsd
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, changes XML input, ci: run integrated tests, ci: run code coverage

#3448 fix: change FaceElementSubRegion maps to volume elements back to fixed size relations
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/codingUtilities/traits.hpp
  src/coreComponents/dataRepository/BufferOps_inline.hpp
  src/coreComponents/dataRepository/Wrapper.hpp
  src/coreComponents/dataRepository/wrapperHelpers.hpp
  src/coreComponents/finiteVolume/TwoPointFluxApproximation.cpp
  src/coreComponents/mesh/ElementRegionManager.cpp
  src/coreComponents/mesh/EmbeddedSurfaceSubRegion.cpp
  src/coreComponents/mesh/EmbeddedSurfaceSubRegion.hpp
  src/coreComponents/mesh/FaceElementSubRegion.cpp
  src/coreComponents/mesh/FaceElementSubRegion.hpp
  src/coreComponents/mesh/FaceManager.cpp
  src/coreComponents/mesh/MeshLevel.cpp
  src/coreComponents/mesh/ObjectManagerBase.hpp
  src/coreComponents/mesh/SurfaceElementRegion.cpp
  src/coreComponents/mesh/SurfaceElementSubRegion.cpp
  src/coreComponents/mesh/SurfaceElementSubRegion.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsLagrangeContactBubbleStab.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsPenaltyContact.cpp
  src/coreComponents/physicsSolvers/contact/kernels/SolidMechanicsConformingContactKernelsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolverKernels.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/ParallelTopologyChange.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.cpp
  src/coreComponents/schema/schema.xsd.other
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#2957 feat: Add ExternalDataRepository
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/singlePhaseFlow/FieldCaseTutorial3_composite_smoke.xml
  inputFiles/singlePhaseFlow/synthetic.vtpc
  inputFiles/singlePhaseFlow/synthetic/synthetic_0_0.vtu
  inputFiles/singlePhaseFlow/synthetic/synthetic_1_0.vtu
  inputFiles/singlePhaseFlow/synthetic/synthetic_2_0.vtu
  src/coreComponents/fileIO/vtk/VTKPolyDataWriterInterface.cpp
  src/coreComponents/fileIO/vtk/VTKPolyDataWriterInterface.hpp
  src/coreComponents/mainInterface/ProblemManager.cpp
  src/coreComponents/mainInterface/ProblemManager.hpp
  src/coreComponents/mesh/CMakeLists.txt
  src/coreComponents/mesh/ExternalDataSourceBase.cpp
  src/coreComponents/mesh/ExternalDataSourceBase.hpp
  src/coreComponents/mesh/ExternalDataSourceManager.cpp
  src/coreComponents/mesh/ExternalDataSourceManager.hpp
  src/coreComponents/mesh/MeshManager.cpp
  src/coreComponents/mesh/generators/InternalWellGenerator.cpp
  src/coreComponents/mesh/generators/MeshComponentBase.cpp
  src/coreComponents/mesh/generators/MeshComponentBase.hpp
  src/coreComponents/mesh/generators/MeshGeneratorBase.cpp
  src/coreComponents/mesh/generators/Region.cpp
  src/coreComponents/mesh/generators/Region.hpp
  src/coreComponents/mesh/generators/VTKHierarchicalDataSource.cpp
  src/coreComponents/mesh/generators/VTKHierarchicalDataSource.hpp
  src/coreComponents/mesh/generators/VTKMeshGenerator.cpp
  src/coreComponents/mesh/generators/VTKMeshGenerator.hpp
  src/coreComponents/mesh/generators/VTKWellGenerator.cpp
  src/coreComponents/mesh/generators/WellGeneratorABC.hpp
  src/coreComponents/mesh/generators/WellGeneratorBase.cpp
  src/coreComponents/mesh/generators/WellGeneratorBase.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3464 fix: Little bug fix for automatic timestep computation for elastic wave solver
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagation.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationDAS.cpp
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests, ci: run code coverage

#3465 fix: format statement for reporting location of max compdens change
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3348 fix: plastic/elastic slip fix for EFEM
  src/coreComponents/constitutive/contact/CoulombFriction.hpp
  src/coreComponents/constitutive/contact/FrictionBase.hpp
  src/coreComponents/constitutive/contact/FrictionlessContact.hpp
  src/coreComponents/constitutive/contact/RateAndStateFriction.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsEmbeddedFractures.hpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage
