Repository GEOS-DEV/GEOS, pull requests merged in 2024-06, with the labels that each got.

#3158 Fix bug when we take minTime < 0 in wave solvers
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/firstOrderEqn/isotropic/AcousticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverUtils.hpp
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#2984 Log refactor - Table logging features
  src/coreComponents/codingUtilities/CMakeLists.txt
  src/coreComponents/codingUtilities/StringUtilities.hpp
  src/coreComponents/codingUtilities/tests/CMakeLists.txt
  src/coreComponents/common/DataTypes.hpp
  src/coreComponents/common/Format.hpp
  src/coreComponents/fileIO/CMakeLists.txt
  src/coreComponents/fileIO/Table/TableData.cpp
  src/coreComponents/fileIO/Table/TableData.hpp
  src/coreComponents/fileIO/Table/TableFormatter.cpp
  src/coreComponents/fileIO/Table/TableFormatter.hpp
  src/coreComponents/fileIO/Table/TableLayout.cpp
  src/coreComponents/fileIO/Table/TableLayout.hpp
  src/coreComponents/fileIO/Table/unitTests/CMakeLists.txt
  src/coreComponents/fileIO/Table/unitTests/testTable.cpp
  src/coreComponents/mesh/generators/WellGeneratorBase.cpp
  src/coreComponents/mesh/generators/WellGeneratorBase.hpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests

#3150 add stress initialization for hydrofracture solver
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsInitialization.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3123 Activate fluid models
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidSelector.hpp
  src/coreComponents/constitutive/fluid/multifluid/PVTDriver.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/NegativeTwoPhaseFlash.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.hpp
  src/coreComponents/unitTests/constitutiveTests/testPVT_Compositional.xml
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3151 Add the command for running uncrustify style to the Doc
  src/docs/sphinx/developerGuide/KeyComponents/AddingNewSolver.rst
Labels: type: documentation, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3113 Fix updateConfiguration
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/poromechanicsFractures/SlipPermeability_pEDFM_base.xml
  src/coreComponents/physicsSolvers/multiphysics/CoupledSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.hpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3120 Add missing tests into ATS and adjust output naming
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseFlow/2ph_cap_1d_ihu.xml
  inputFiles/compositionalMultiphaseFlow/4comp_2ph_1d.xml
  inputFiles/compositionalMultiphaseFlow/co2_flux_3d.xml
  inputFiles/compositionalMultiphaseFlow/co2_hybrid_1d.xml
  inputFiles/compositionalMultiphaseFlow/compositionalMultiphaseFlow.ats
  inputFiles/compositionalMultiphaseFlow/deadoil_2ph_staircase_gravity_segregation_3d.xml
  inputFiles/compositionalMultiphaseFlow/deadoil_3ph_corey_1d_fractured.xml
  inputFiles/compositionalMultiphaseFlow/deadoil_3ph_staircase_3d.xml
  inputFiles/compositionalMultiphaseFlow/deadoil_3ph_staircase_obl_3d.xml
  inputFiles/singlePhaseFlowFractures/singlePhaseFlowFractures.ats
  src/coreComponents/mesh/SurfaceElementRegion.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/EmbeddedSurfaceGenerator.hpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3075 Introduce configuration tolerance
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsLagrangeContact.cpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3129 Compilation failure on pangea-3 if ENABLE_CUDA is OFF
  .devcontainer/devcontainer.json
  src/CMakeLists.txt
  src/coreComponents/CMakeLists.txt
  src/coreComponents/common/TimingMacros.hpp
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/dataRepository/unitTests/CMakeLists.txt
  src/coreComponents/fileIO/CMakeLists.txt
  src/coreComponents/finiteElement/unitTests/CMakeLists.txt
Labels: type: build system, ci: run CUDA builds, flag: requires updated TPL(s), ci: run integrated tests, flag: no rebaseline

#3080 Viscoelastic wave propagator
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/wavePropagation/ElasticSEM.ats
  inputFiles/wavePropagation/elas3D_att_smoke.xml
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/anisotropic/ElasticVTIWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/shared/ElasticFields.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/shared/ElasticTimeSchemeSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverUtils.hpp
  src/coreComponents/unitTests/wavePropagationTests/CMakeLists.txt
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationAttenuation.cpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3140 Break up multi fluid test
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/CO2BrineFluid.cpp
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/functions/EzrokhiBrineDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidSelector.hpp
  src/coreComponents/unitTests/constitutiveTests/CMakeLists.txt
  src/coreComponents/unitTests/constitutiveTests/MultiFluidTest.hpp
  src/coreComponents/unitTests/constitutiveTests/constitutiveTestHelpers.hpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluid.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidCO2Brine.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidCompositionalMultiphasePVTPackage.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidDeadOil.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidLiveOil.cpp
  src/coreComponents/unitTests/fluidFlowTests/testCompFlowUtils.hpp
  src/coreComponents/unitTests/fluidFlowTests/testFlowUtils.hpp
  src/coreComponents/unitTests/fluidFlowTests/testSingleFlowUtils.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3138 Properly sync nonlinear solver params for coupled solver
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/SolverBase.cpp
  src/coreComponents/physicsSolvers/SolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.cpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#2969 remove RESQML support from GEOS
  .devcontainer/devcontainer.json
  host-configs/LLNL/lassen-base.cmake
  host-configs/LLNL/quartz-base.cmake
  host-configs/tpls.cmake
  src/cmake/thirdparty/SetupGeosxThirdParty.cmake
Labels: ci: run CUDA builds, flag: ready for review, flag: requires updated TPL(s), ci: run integrated tests, flag: no rebaseline

#3152 Some random things
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/common/Units.cpp
  src/coreComponents/common/Units.hpp
  src/coreComponents/common/unitTests/testUnits.cpp
  src/coreComponents/events/EventManager.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsInitialization.cpp
  src/coreComponents/schema/docs/CompositionalMultiphaseFVM.rst
  src/coreComponents/schema/docs/CompositionalMultiphaseHybridFVM.rst
  src/coreComponents/schema/docs/Events.rst
  src/coreComponents/schema/schema.xsd
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#2887 Only consider 3d cells in fracture to matrix mappings
  src/coreComponents/mesh/generators/VTKFaceBlockUtilities.cpp
Labels: type: bug, ci: run CUDA builds, EPIC - FF/Import, ci: run integrated tests, flag: no rebaseline

#3081 Add Pangea4 host configs
  .devcontainer/devcontainer.json
  host-configs/TOTAL/pangea4-base.cmake
  host-configs/TOTAL/pangea4-gcc12.1-hpcxompi2.17.1-onemkl2023.2.0.cmake
  host-configs/TOTAL/pangea4-gcc12.1-hpcxompi2.17.1-openblas0.3.23.cmake
  host-configs/TOTAL/pangea4-gcc12.1-openmpi4.1.6-onemkl2023.2.0.cmake
  host-configs/TOTAL/pangea4-gcc12.1-openmpi4.1.6-openblas0.3.23.cmake
Labels: type: feature, ci: run CUDA builds, flag: requires updated TPL(s), ci: run integrated tests, flag: no rebaseline

#3171 run integrated tests on dedicated runner to avoid overloading of streak2
  .github/workflows/ci_tests.yml
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#2954 Adding SourceFluxStatistics
  src/coreComponents/codingUtilities/UnitTestUtilities.hpp
  src/coreComponents/common/DataTypes.cpp
  src/coreComponents/common/Units.hpp
  src/coreComponents/dataRepository/Group.cpp
  src/coreComponents/dataRepository/Group.hpp
  src/coreComponents/dataRepository/Wrapper.hpp
  src/coreComponents/dataRepository/WrapperBase.hpp
  src/coreComponents/fieldSpecification/CMakeLists.txt
  src/coreComponents/fieldSpecification/SourceFluxBoundaryCondition.cpp
  src/coreComponents/fieldSpecification/SourceFluxStatistics.cpp
  src/coreComponents/fieldSpecification/SourceFluxStatistics.hpp
  src/coreComponents/mesh/ElementRegionBase.hpp
  src/coreComponents/physicsSolvers/SolverBase.hpp
  src/coreComponents/physicsSolvers/SolverStatistics.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseStatistics.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/ReactiveCompositionalMultiphaseOBL.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseStatistics.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseStatistics.hpp
  src/coreComponents/schema/docs/CompositionalMultiphaseFVM.rst
  src/coreComponents/schema/docs/CompositionalMultiphaseHybridFVM.rst
  src/coreComponents/schema/docs/SinglePhaseFVM.rst
  src/coreComponents/schema/docs/SinglePhaseHybridFVM.rst
  src/coreComponents/schema/docs/SinglePhaseProppantFVM.rst
  src/coreComponents/schema/docs/SourceFlux.rst
  src/coreComponents/schema/docs/SourceFluxStatistics.rst
  src/coreComponents/schema/docs/SourceFluxStatistics_other.rst
  src/coreComponents/schema/docs/Tasks.rst
  src/coreComponents/schema/docs/Tasks_other.rst
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/CMakeLists.txt
  src/coreComponents/unitTests/fluidFlowTests/CMakeLists.txt
  src/coreComponents/unitTests/fluidFlowTests/testFlowStatistics.cpp
  src/coreComponents/unitTests/testingUtilities/CMakeLists.txt
  src/coreComponents/unitTests/testingUtilities/TestingTasks.cpp
  src/coreComponents/unitTests/testingUtilities/TestingTasks.hpp
  src/docs/sphinx/CompleteXMLSchema.rst
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3157 Allow extra parameters for fluid models
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluid.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluid.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ComponentProperties.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/CompositionalDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ConstantViscosity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ConstantViscosity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/FunctionBase.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/LohrenzBrayClarkViscosity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/LohrenzBrayClarkViscosity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/LohrenzBrayClarkViscosityImpl.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ModelParameters.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NullModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhaseModel.hpp
  src/coreComponents/constitutive/unitTests/TestFluid.hpp
  src/coreComponents/constitutive/unitTests/testCompositionalDensity.cpp
  src/coreComponents/constitutive/unitTests/testKValueInitialization.cpp
  src/coreComponents/constitutive/unitTests/testLohrenzBrayClarkViscosity.cpp
  src/coreComponents/schema/docs/CompositionalTwoPhaseFluidPengRobinson.rst
  src/coreComponents/schema/docs/CompositionalTwoPhaseFluidPengRobinsonLBC.rst
  src/coreComponents/schema/docs/CompositionalTwoPhaseFluidSoaveRedlichKwong.rst
  src/coreComponents/schema/docs/CompositionalTwoPhaseFluidSoaveRedlichKwongLBC.rst
  src/coreComponents/schema/schema.xsd
  src/coreComponents/unitTests/constitutiveTests/testPVT_Compositional.xml
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3133 Force face-based ordering for node list of FaceElements
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/fileIO/Outputs/VTKOutput.cpp
  src/coreComponents/fileIO/Outputs/VTKOutput.hpp
  src/coreComponents/fileIO/vtk/VTKPolyDataWriterInterface.cpp
  src/coreComponents/fileIO/vtk/VTKPolyDataWriterInterface.hpp
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.cpp
  src/coreComponents/schema/docs/VTK.rst
  src/coreComponents/schema/schema.xsd
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3100 Adding pressure stabilization for single phase poromechanics
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/poromechanics/PoroElastic_staircase_co2_3d_base_stab.xml
  inputFiles/poromechanics/PoroElastic_staircase_co2_3d_fim_stab.xml
  inputFiles/poromechanics/PoroElastic_staircase_co2_3d_sequential_stab.xml
  inputFiles/poromechanics/PoroElastic_staircase_singlephase_3d_base_stab.xml
  inputFiles/poromechanics/PoroElastic_staircase_singlephase_3d_fim_stab.xml
  inputFiles/poromechanics/PoroElastic_staircase_singlephase_3d_sequential_stab.xml
  inputFiles/poromechanics/poroElasticCoupling.ats
  src/coreComponents/physicsSolvers/CMakeLists.txt
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseHybridFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseHybridFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseHybridFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/StabilizedSinglePhaseFVMKernels.hpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhaseReservoirAndWells.hpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3164 Add linear solver params table output
  src/coreComponents/physicsSolvers/LinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/LinearSolverParameters.hpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3165 Small bug fix
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3168 Code cleanup
  src/coreComponents/finiteVolume/StencilBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/SinglePhaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/SinglePhaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/CompositionalMultiphaseReservoirAndWells.hpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledReservoirAndWellsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhaseReservoirAndWells.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3160 Two experimental options for compositional flow solver
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseHybridFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/IsothermalCompositionalMultiphaseBaseKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/ThermalCompositionalMultiphaseBaseKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWellKernels.hpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3130 Augmented Lagrangian (stick mode) - InterfaceKernelBase - Bubble Functions
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/almContactMechanics/ALM_stickFault_base.xml
  inputFiles/almContactMechanics/ALM_stickFault_vertical_smoke.xml
  inputFiles/almContactMechanics/alm.ats
  src/coreComponents/finiteElement/CMakeLists.txt
  src/coreComponents/finiteElement/FiniteElementDispatch.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_Hexahedron_Lagrange1_GaussLegendre2.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_Pyramid_Lagrange1_Gauss5.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_QuadrilateralFace_Lagrange1_GaussLegendre2.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_Tetrahedron_Lagrange1_Gauss1.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_TriangleFace_Lagrange1_Gauss1.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_Wedge_Lagrange1_Gauss6.hpp
  src/coreComponents/finiteElement/elementFormulations/LagrangeBasis1.hpp
  src/coreComponents/finiteElement/kernelInterface/InterfaceKernelBase.hpp
  src/coreComponents/mesh/CellElementSubRegion.cpp
  src/coreComponents/mesh/CellElementSubRegion.hpp
  src/coreComponents/physicsSolvers/CMakeLists.txt
  src/coreComponents/physicsSolvers/contact/ContactFields.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsALMBubbleKernels.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsALMJumpUpdateKernels.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsALMKernels.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsALMKernelsBase.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsALMKernelsHelper.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsAugmentedLagrangianContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsFields.hpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3176 Remove integratedTests as a submodule for codespaces
  .devcontainer/postCreateCommand.sh
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3170 Fix tutorial example for thermal debonding wellbore problem
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/wellbore/CasedThermoElasticWellbore_ImperfectInterfaces_base.xml
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/casedContactThermoElasticWellbore/displacement.png
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/casedContactThermoElasticWellbore/stress.png
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/casedContactThermoElasticWellbore/temperature.png
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/casedContactThermoElasticWellbore/thermoElastic_casedContactWellbore_displacement.py
Labels: type: documentation, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3142 Adding field to output total strain
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/common/DataLayouts.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsFields.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.hpp
  src/coreComponents/physicsSolvers/solidMechanics/kernels/StrainHelper.hpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3057 Python Packaging Updates
  inputFiles/almContactMechanics/alm.ats
  inputFiles/compositionalMultiphaseFlow/benchmarks/SPE10/SPE10.ats
  inputFiles/compositionalMultiphaseFlow/benchmarks/buckleyLeverettProblem/buckleyLeverettProblem.ats
  inputFiles/compositionalMultiphaseFlow/benchmarks/isothermalLeakyWell/isothermalLeakyWell.ats
  inputFiles/compositionalMultiphaseFlow/benchmarks/thermalLeakyWell/thermalLeakyWell.ats
  inputFiles/compositionalMultiphaseFlow/c1-ppu/c1_ppu.ats
  inputFiles/compositionalMultiphaseFlow/compositionalMultiphaseFlow.ats
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/Class09Pb3.ats
  inputFiles/compositionalMultiphaseWell/benchmarks/Egg/compositionalMultiphaseWell_Egg.ats
  inputFiles/compositionalMultiphaseWell/compositionalMultiphaseWell.ats
  inputFiles/efemFractureMechanics/efemFractureMechanics.ats
  inputFiles/hydraulicFracturing/Hydrofracturing.ats
  inputFiles/inducedSeismicity/inducedSeismicity.ats
  inputFiles/lagrangianContactMechanics/contactMechanics.ats
  inputFiles/main.ats
  inputFiles/materialPointMethod/dfgMovingGrid/solidMechanicsMPM_dfgMovingGrid.ats
  inputFiles/materialPointMethod/particleRepartition/solidMechanicsMPM_particleRepartition.ats
  inputFiles/materialPointMethod/singleParticle/solidMechanicsMPM_singleParticle.ats
  inputFiles/multiphaseFlowFractures/multiphaseFlowFractures.ats
  inputFiles/phaseField/PhaseFieldFracture.ats
  inputFiles/poromechanics/nonlinearAcceleration/validationCase/poroelasticCoupling_validation.ats
  inputFiles/poromechanics/poroElasticCoupling.ats
  inputFiles/poromechanics/viscoPlastic.ats
  inputFiles/poromechanicsFractures/poromechanicsFractures.ats
  inputFiles/proppant/proppantTransport.ats
  inputFiles/simplePDE/SimpleSolvers.ats
  inputFiles/singlePhaseFlow/singlePhaseFlow.ats
  inputFiles/singlePhaseFlow/thermalSinglePhaseFlow.ats
  inputFiles/singlePhaseFlowFractures/singlePhaseFlowFractures.ats
  inputFiles/singlePhaseWell/singlePhaseWell.ats
  inputFiles/solidMechanics/SSLE.ats
  inputFiles/solidMechanics/anisotropic.ats
  inputFiles/solidMechanics/beamBending.ats
  inputFiles/solidMechanics/gravity.ats
  inputFiles/solidMechanics/plasticCubeReset.ats
  inputFiles/solidMechanics/plasticWellbore.ats
  inputFiles/solidMechanics/sedov.ats
  inputFiles/solidMechanics/viscoPlastic.ats
  inputFiles/solidMechanics/wellbore.ats
  inputFiles/surfaceGeneration/SurfaceGenerator.ats
  inputFiles/thermalMultiphaseFlow/thermalMultiphaseFlow.ats
  inputFiles/thermalSinglePhaseFlowFractures/thermalSinglePhaseFlowFractures.ats
  inputFiles/thermoPoromechanics/thermoPoromechanics.ats
  inputFiles/thermoPoromechanicsFractures/thermoPoromechanicsFractures.ats
  inputFiles/wavePropagation/AcousticElasticSEM.ats
  inputFiles/wavePropagation/AcousticFirstOrderSEM.ats
  inputFiles/wavePropagation/AcousticSEM.ats
  inputFiles/wavePropagation/ElasticFirstOrderSEM.ats
  inputFiles/wavePropagation/ElasticSEM.ats
  inputFiles/wavePropagation/ElasticVTISEM.ats
  inputFiles/wellbore/thermoPoromechanics_wellbore.ats
  inputFiles/wellbore/wellboreMesh.ats
  scripts/setupPythonEnvironment.bash
  src/CMakeLists.txt
  src/conf.py
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests

#3184 Replace paid runners with streak2
  .github/workflows/build_and_test.yml
  .github/workflows/ci_tests.yml
Labels: ci: run CUDA builds, ci: run integrated tests

#2985 Fix unit tests on GPU CI platform.
  scripts/ci_build_and_test_in_container.sh
  src/coreComponents/common/LifoStorageCuda.hpp
  src/coreComponents/common/unitTests/testLifoStorage.cpp
Labels: ci: run CUDA builds, ci: run integrated tests

#3181 Decouple debug matrix output from logLevel
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/SolverBase.cpp
  src/coreComponents/physicsSolvers/SolverBase.hpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3136 Implement stability test
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/docs/CompositionalMultiphaseFluid.rst
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/StabilityTest.hpp
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/constitutive/unitTests/testStabilityTest2Comp.cpp
  src/coreComponents/constitutive/unitTests/testStabilityTest9Comp.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3173 Extend BLAS interface
  src/coreComponents/denseLinearAlgebra/interfaces/blaslapack/BlasLapackLA.cpp
  src/coreComponents/denseLinearAlgebra/interfaces/blaslapack/BlasLapackLA.hpp
  src/coreComponents/denseLinearAlgebra/unitTests/CMakeLists.txt
  src/coreComponents/denseLinearAlgebra/unitTests/testSolveLinearSystem.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3147 Fix #3146 - Error in stat reduction for Function triggered `PeriodicEvent`
  src/coreComponents/events/PeriodicEvent.cpp
  src/coreComponents/functions/FunctionBase.cpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3177 HDF5 Collective Operations Flags
  .integrated_tests.yaml
  BASELINE_NOTES.md
  host-configs/LLNL/quartz-base.cmake
  inputFiles/compositionalMultiphaseWell/benchmarks/Egg/deadOilEgg_base_iterative.xml
  src/coreComponents/fileIO/Outputs/TimeHistoryOutput.cpp
  src/coreComponents/fileIO/timeHistory/BufferedHistoryIO.hpp
  src/coreComponents/fileIO/timeHistory/HDFFile.cpp
  src/coreComponents/fileIO/timeHistory/HDFHistoryIO.cpp
Labels: type: bug, ci: run CUDA builds, type: optimization, flag: ready for review, flag: requires rebaseline, changes XML input, ci: run integrated tests
