Repository GEOS-DEV/GEOS, pull requests merged in 2024-05, with the labels that each got.

#3094 Make optional builds re-runnable on CI
  .github/workflows/build_and_test.yml
  .github/workflows/ci_tests.yml
Labels: ci: ready to be merged, flag: ready for review, type: CI, ci: run integrated tests, flag: no rebaseline

#3098 Update MultiphasePoromechanics strategy
  src/coreComponents/linearAlgebra/interfaces/hypre/mgrStrategies/MultiphasePoromechanics.hpp
Labels: type: bug, ci: ready to be merged, ci: run integrated tests, flag: no rebaseline

#3111 Fix setMGRStrategy logic for SinglePhaseReservoirAndWells
  src/coreComponents/physicsSolvers/multiphysics/CompositionalMultiphaseReservoirAndWells.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhaseReservoirAndWells.cpp
Labels: type: bug, ci: ready to be merged, ci: run integrated tests, flag: no rebaseline

#3103 Additional use of streak2 for CI testing
  .github/workflows/build_and_test.yml
  .github/workflows/ci_tests.yml
  scripts/ci_build_and_test_in_container.sh
Labels: ci: ready to be merged, ci: run integrated tests

#2917 Feature/byer3/mass inj const
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/class09_pb3_benchmark_mc.xml
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/class09_pb3_benchmark_mct.xml
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/class09_pb3_drainageOnly_iterative_base.xml
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWellKernels.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWellKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellControls.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellControls.hpp
Labels: type: feature, ci: ready to be merged, flag: requires rebaseline, ci: run integrated tests

#3115 fix bug in ci script
  .github/workflows/build_and_test.yml
  scripts/ci_build_and_test_in_container.sh
Labels: ci: ready to be merged, ci: run integrated tests

#3105 Bugfix/byer3/internal energy der 3053
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidBase.hpp
Labels: type: bug, ci: ready to be merged, flag: requires rebaseline, ci: run integrated tests

#3110 Clean up catalogName a bit
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/CO2BrineFluid.cpp
  src/coreComponents/constitutive/permeability/PermeabilityBase.cpp
  src/coreComponents/constitutive/permeability/PermeabilityBase.hpp
  src/coreComponents/constitutive/solid/porosity/PorosityBase.hpp
  src/coreComponents/events/EventBase.hpp
  src/coreComponents/events/tasks/TaskBase.hpp
  src/coreComponents/fileIO/Outputs/OutputBase.hpp
  src/coreComponents/functions/FunctionBase.hpp
  src/coreComponents/mesh/generators/MeshGeneratorBase.hpp
  src/coreComponents/mesh/generators/WellGeneratorBase.hpp
  src/coreComponents/physicsSolvers/SolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/ReactiveCompositionalMultiphaseOBL.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseHybridFVM.cpp
  src/coreComponents/physicsSolvers/multiphysics/CompositionalMultiphaseReservoirAndWells.cpp
  src/coreComponents/physicsSolvers/multiphysics/CompositionalMultiphaseReservoirAndWells.hpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsInitialization.cpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsInitialization.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhaseReservoirAndWells.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhaseReservoirAndWells.hpp
  src/coreComponents/schema/docs/Constitutive.rst
  src/coreComponents/schema/docs/Constitutive_other.rst
  src/coreComponents/schema/docs/PermeabilityBase.rst
  src/coreComponents/schema/docs/PermeabilityBase_other.rst
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/docs/sphinx/CompleteXMLSchema.rst
Labels: type: cleanup / refactor, ci: ready to be merged, flag: no rebaseline

#3114 Small cleanup for flow solvers
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/CompositionalMultiphaseReservoirAndWells.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhaseReservoirAndWells.hpp
Labels: type: cleanup / refactor, ci: ready to be merged, flag: no rebaseline

#3086 Add a pressure-dependent permeability model and calculate the transmissibility derivatives
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/singlePhaseFlow/PressurePerm_1d_base.xml
  inputFiles/singlePhaseFlow/PressurePerm_1d_smoke.xml
  inputFiles/singlePhaseFlow/PressurePerm_2d_base.xml
  inputFiles/singlePhaseFlow/PressurePerm_2d_smoke.xml
  inputFiles/singlePhaseFlow/singlePhaseFlow.ats
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/ConstitutivePassThru.hpp
  src/coreComponents/constitutive/permeability/CarmanKozenyPermeability.hpp
  src/coreComponents/constitutive/permeability/PermeabilityBase.hpp
  src/coreComponents/constitutive/permeability/PressurePermeability.cpp
  src/coreComponents/constitutive/permeability/PressurePermeability.hpp
  src/coreComponents/constitutive/solid/CompressibleSolid.cpp
  src/coreComponents/constitutive/solid/CompressibleSolid.hpp
  src/coreComponents/finiteVolume/CellElementStencilTPFA.hpp
  src/coreComponents/schema/docs/CompressibleSolidPressurePermeability.rst
  src/coreComponents/schema/docs/CompressibleSolidPressurePermeability_other.rst
  src/coreComponents/schema/docs/Constitutive.rst
  src/coreComponents/schema/docs/Constitutive_other.rst
  src/coreComponents/schema/docs/PressurePermeability.rst
  src/coreComponents/schema/docs/PressurePermeability_other.rst
  src/coreComponents/schema/docs/WellControls.rst
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/docs/sphinx/CompleteXMLSchema.rst
Labels: ci: ready to be merged, flag: requires rebaseline, ci: run integrated tests

#2975 Document how to debug CI through ssh.
  src/docs/sphinx/developerGuide/Contributing/WorkInteractivelyOnCI.rst
  src/docs/sphinx/developerGuide/Contributing/index_contributing.rst
Labels: type: documentation, ci: ready to be merged, flag: no rebaseline

#3118 Make integratedTests job mandatory on CI.
  .github/workflows/ci_tests.yml
Labels: ci: ready to be merged, ci: run integrated tests

#3060 Elastic Vertical Transverse Isotropic (VTI) wave solver implementation
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/wavePropagation/ElasticVTISEM.ats
  inputFiles/wavePropagation/elas3D_vti_abc_smoke.xml
  inputFiles/wavePropagation/elas3D_vti_small_base.xml
  src/coreComponents/physicsSolvers/CMakeLists.txt
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/anisotropic/ElasticVTIFields.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/anisotropic/ElasticVTIWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.hpp
  src/coreComponents/schema/docs/ElasticSEM.rst
  src/coreComponents/schema/schema.xsd
  src/coreComponents/unitTests/wavePropagationTests/CMakeLists.txt
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationElasticVTI.cpp
Labels: type: feature, ci: ready to be merged, flag: requires rebaseline, ci: run integrated tests, ci: upload test baselines

#2110 Add the function to update the pressure gradient in the hybrid solver
  .gitmodules
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/denseLinearAlgebra/interfaces/blaslapack/BlasLapackFunctions.h
  src/coreComponents/denseLinearAlgebra/interfaces/blaslapack/BlasLapackLA.cpp
  src/coreComponents/denseLinearAlgebra/interfaces/blaslapack/BlasLapackLA.hpp
  src/coreComponents/denseLinearAlgebra/unitTests/testBlasLapack.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBaseFields.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseHybridFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseHybridFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseHybridFVMKernels.hpp
Labels: ci: ready to be merged, flag: requires rebaseline, ci: run integrated tests

#3122 Fix missing const for `int` conversion of `CommID`
  src/coreComponents/mesh/mpiCommunications/CommID.hpp
Labels: ci: ready to be merged, ci: run integrated tests, flag: no rebaseline

#3124 Upgrade the version of `plantuml`
  .readthedocs.yml
  src/conf.py
Labels: ci: ready to be merged, ci: run integrated tests, flag: no rebaseline

#3127 Change uberenv repo to relative path
  .gitmodules
Labels: ci: ready to be merged, ci: run integrated tests

#3141 Store baselines locally on streak2.
  .github/workflows/build_and_test.yml
  .github/workflows/ci_tests.yml
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/efemFractureMechanics/Sneddon_embeddedFrac_base.xml
  scripts/ci_build_and_test_in_container.sh
  src/CMakeLists.txt
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3050 Spatially-varying grain bulk modulus within a region.
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/hydraulicFracturing/kgdToughnessDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/kgdViscosityDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/pennyShapedToughnessDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/pennyShapedViscosityDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/pknViscosityDominated_poroelastic_base.xml
  inputFiles/inducedSeismicity/SeismicityRate_poromechanics_1d_smoke.xml
  inputFiles/poromechanics/PoroDelftEggWellbore_base.xml
  inputFiles/poromechanics/PoroDruckerPragerWellbore_base.xml
  inputFiles/poromechanics/PoroElasticWellbore_base.xml
  inputFiles/poromechanics/PoroElastic_Mandel_base.xml
  inputFiles/poromechanics/PoroElastic_Mandel_prism6_base_hybrid.xml
  inputFiles/poromechanics/PoroElastic_Terzaghi_base_direct.xml
  inputFiles/poromechanics/PoroElastic_Terzaghi_base_iterative.xml
  inputFiles/poromechanics/PoroElastic_deadoil_3ph_baker_2d_base.xml
  inputFiles/poromechanics/PoroElastic_gravity.xml
  inputFiles/poromechanics/PoroElastic_hybridHexPrism_co2_base.xml
  inputFiles/poromechanics/PoroElastic_staircase_co2_3d_base.xml
  inputFiles/poromechanics/PoroElastic_staircase_singlephase_3d_base.xml
  inputFiles/poromechanics/PoroModifiedCamClayWellbore_base.xml
  inputFiles/poromechanics/PoroViscoDruckerPrager_base.xml
  inputFiles/poromechanics/PoroViscoExtendedDruckerPrager_base.xml
  inputFiles/poromechanics/PoroViscoModifiedCamClay_base.xml
  inputFiles/poromechanics/faultPoroelastic_base.xml
  inputFiles/poromechanics/nonlinearAcceleration/smallEggModel/smallEggModel.xml
  inputFiles/poromechanics/nonlinearAcceleration/validationCase/validationCase.xml
  inputFiles/poromechanicsFractures/ExponentialDecayPermeability_conformingFracture_base.xml
  inputFiles/poromechanicsFractures/ExponentialDecayPermeability_edfm_base.xml
  inputFiles/poromechanicsFractures/PoroElastic_conformingFracture_2d_faultSlip_base.xml
  inputFiles/poromechanicsFractures/PoroElastic_conformingFracture_2d_openingFrac_base.xml
  inputFiles/poromechanicsFractures/PoroElastic_efem-edfm_base.xml
  inputFiles/poromechanicsFractures/PoroElastic_efem-edfm_eggModel_large.xml
  inputFiles/poromechanicsFractures/PoroElastic_efem-edfm_eggModel_small.xml
  inputFiles/poromechanicsFractures/PoroElastic_efem-edfm_pennyCrack_base.xml
  inputFiles/poromechanicsFractures/PoroElastic_efem-edfm_pressurizedFrac_smoke.xml
  inputFiles/poromechanicsFractures/SlipPermeability_embeddedFrac.xml
  inputFiles/poromechanicsFractures/SlipPermeability_pEDFM_base.xml
  inputFiles/poromechanicsFractures/WillisRichardsPermeability_efem-edfm_base.xml
  inputFiles/thermoPoromechanics/ThermoPoroElastic_consolidation_base.xml
  inputFiles/thermoPoromechanics/ThermoPoroElastic_staircase_co2_smoke.xml
  inputFiles/thermoPoromechanicsFractures/ThermoPoroElastic_base.xml
  inputFiles/thermoPoromechanicsFractures/ThermoPoroElastic_efem-edfm_eggModel_small.xml
  inputFiles/wellbore/CasedThermoElasticWellbore_ImperfectInterfaces_base.xml
  inputFiles/wellbore/CasedThermoElasticWellbore_base.xml
  inputFiles/wellbore/DeviatedPoroElasticWellbore_Drilling_base.xml
  inputFiles/wellbore/DeviatedPoroElasticWellbore_Injection_base.xml
  inputFiles/wellbore/ThermoPoroElasticWellbore_base.xml
  src/coreComponents/constitutive/solid/CoupledSolidBase.hpp
  src/coreComponents/constitutive/solid/PorousSolid.cpp
  src/coreComponents/constitutive/solid/PorousSolid.hpp
  src/coreComponents/constitutive/solid/porosity/BiotPorosity.cpp
  src/coreComponents/constitutive/solid/porosity/BiotPorosity.hpp
  src/coreComponents/constitutive/solid/porosity/PorosityFields.hpp
  src/coreComponents/schema/docs/BiotPorosity.rst
  src/coreComponents/schema/docs/BiotPorosity_other.rst
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/docs/sphinx/developerGuide/Contributing/IntegratedTests.rst
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests
