Repository GEOS-DEV/GEOS, pull requests merged in 2024-09, with the labels that each got.

#3304 docs: update publications and fix a link
  src/coreComponents/constitutiveDrivers/docs/ConstitutiveDrivers.rst
  src/docs/sphinx/Publications.rst
Labels: type: documentation, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline

#3294 fix: Bug with elastic wave propagator at higher orders
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/finiteElement/elementFormulations/Qk_Hexahedron_Lagrange_GaussLobatto.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/PrecomputeSourcesAndReceiversKernel.hpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3308 fix: Small fix
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3302 fix: Fix restart issue when running HydroFracture cases.
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/hydraulicFracturing/Hydrofracturing.ats
  inputFiles/hydraulicFracturing/kgdToughnessDominated_smoke.xml
  inputFiles/hydraulicFracturing/kgdViscosityDominated_smoke.xml
  inputFiles/hydraulicFracturing/pennyShapedToughnessDominated_smoke.xml
  inputFiles/hydraulicFracturing/pennyShapedViscosityDominated_smoke.xml
  inputFiles/hydraulicFracturing/pknViscosityDominated_smoke.xml
  src/CMakeLists.txt
  src/coreComponents/fileIO/Outputs/TimeHistoryOutput.cpp
  src/coreComponents/mesh/ObjectManagerBase.cpp
  src/coreComponents/mesh/ObjectManagerBase.hpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3323 fix: Add some initialisation to class members
  src/coreComponents/denseLinearAlgebra/unitTests/testDenseLASolvers.cpp
Labels: type: build system, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3333 chore: update codeowners for integrated_tests.yaml
  .github/CODEOWNERS
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3322 feat: print out fracture state for contact model
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/contact/ContactFields.hpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, EPIC - FF/Contact, ci: run integrated tests

#3332 docs: edits from joss review
  inputFiles/hydraulicFracturing/scripts/hydrofractureFigure.py
  inputFiles/hydraulicFracturing/scripts/hydrofractureQueries.py
  scripts/automatic_xml_preprocess.sh
  src/coreComponents/constitutive/docs/TemperatureDependentSolidVolumetricHeatCapacity.rst
  src/coreComponents/mesh/docs/Mesh.rst
  src/coreComponents/physicsSolvers/multiphysics/docs/gravityInducedStressInitialization/gravityInitializationFigure.py
  src/coreComponents/physicsSolvers/multiphysics/docs/userTableStressInitialization/Example.rst
  src/coreComponents/physicsSolvers/multiphysics/docs/userTableStressInitialization/tableInitializationFigure.py
  src/docs/sphinx/QuickStart.rst
  src/docs/sphinx/advancedExamples/pygeosxExamples/inSituDataMonitor/AdvancedExample.rst
  src/docs/sphinx/advancedExamples/pygeosxExamples/initialConditionModification/AdvancedExample.rst
  src/docs/sphinx/advancedExamples/validationStudies/carbonStorage/buckleyLeverett/buckleyLeverettFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/faultMechanics/faultVerification/faultVerificationFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/faultMechanics/intersectFrac/intersectFracFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/faultMechanics/singleFracCompression/singleFracCompressionFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/faultMechanics/sneddon/sneddonFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/kgdToughnessDominated/kgdToughnessDominatedFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/kgdValidation/kgdValidationFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/kgdValidation/kgdValidationQueries.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/kgdViscosityDominated/kgdViscosityDominatedFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/pennyFracToughnessDominated/pennyShapedToughnessDominatedFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/pennyFracViscosityDominated/pennyShapedViscosityDominatedFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/pknFracViscosityDominated/pknViscosityDominatedFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/hydraulicFracture/proppantSlotTest/proppantSlotTestFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/poromechanics/mandel/Example.rst
  src/docs/sphinx/advancedExamples/validationStudies/poromechanics/mandel/mandelFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/viscoplasticity/DruckerPrager/TriaxialDriver_vs_SemiAnalytic_DruckerPrager.py
  src/docs/sphinx/advancedExamples/validationStudies/viscoplasticity/ExtendedDruckerPrager/TriaxialDriver_vs_SemiAnalytic_ExtendedDruckerPrager.py
  src/docs/sphinx/advancedExamples/validationStudies/viscoplasticity/ModifiedCamClay/TriaxialDriver_vs_SemiAnalytic_ModifiedCamClay.py
  src/docs/sphinx/advancedExamples/validationStudies/viscoplasticity/RelaxationTest/relaxationTestFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/viscoplasticity/ViscoDruckerPrager/TriaxialDriver_vs_SemiAnalytic_ViscoDruckerPrager.py
  src/docs/sphinx/advancedExamples/validationStudies/viscoplasticity/ViscoExtendedDruckerPrager/TriaxialDriver_vs_SemiAnalytic_ViscoExtendedDruckerPrager.py
  src/docs/sphinx/advancedExamples/validationStudies/viscoplasticity/ViscoModifiedCamClay/TriaxialDriver_vs_SemiAnalytic_ViscoModifiedCamClay.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/deviatedPoroElasticWellbore/deviatedPoroElasticWellboreExample1Figure.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/deviatedPoroElasticWellbore/deviatedPoroElasticWellboreExample2Figure.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/edpWellbore/edpWellbore_plot.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/kirschWellbore/kirschWellboreFigure.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/linearThermalDiffusion/linearThermalDiffusion_plot.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/nonLinearThermalDiffusion_TemperatureDependentSinglePhaseThermalConductivity/temperatureDependentSinglePhaseThermalConductivity_plot.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/nonLinearThermalDiffusion_TemperatureDependentVolumetricHeatCapacity/temperatureDependentVolumetricHeatCapacity_plot.py
  src/docs/sphinx/advancedExamples/validationStudies/wellboreProblems/thermoPoroElasticWellbore/THM_wellbore_stress.py
  src/docs/sphinx/basicExamples/poromechanics/poromechanicsFigure.py
  src/docs/sphinx/basicExamples/triaxialDriver/triaxialDriverFigure.py
  src/docs/sphinx/buildGuide/BuildProcess.rst
  src/docs/sphinx/developerGuide/Contributing/WorkInteractivelyOnCI.rst
  src/docs/sphinx/tutorials/step01/Tutorial.rst
  src/docs/sphinx/tutorials/step03/Tutorial.rst
  src/main/main.cpp
  src/pygeosx/pygeosx.hpp
Labels: ci: run CUDA builds, ci: run integrated tests

#3326 chore: Update quick-start-template.cmake
  host-configs/quick-start-template.cmake
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3331 chore: increase minimum required cmake version.
  src/CMakeLists.txt
Labels: ci: run CUDA builds

#3346 ci: Disable trigger of ci jobs when description is edited
  .github/workflows/ci_tests.yml
Labels: ci: run CUDA builds, ci: run integrated tests

#3320 fix: Check for zero permeability in J-function cap pressure
  src/coreComponents/constitutive/capillaryPressure/JFunctionCapillaryPressure.cpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3336 fix: fix rockylinux jobs and activate them.
  .github/workflows/ci_tests.yml
  src/coreComponents/CMakeLists.txt
  src/coreComponents/fieldSpecification/AquiferBoundaryCondition.cpp
  src/coreComponents/fieldSpecification/CMakeLists.txt
  src/coreComponents/fieldSpecification/FieldSpecificationBase.cpp
  src/coreComponents/fieldSpecification/FieldSpecificationBase.hpp
  src/coreComponents/fieldSpecification/FieldSpecificationManager.hpp
  src/coreComponents/fieldSpecification/PerfectlyMatchedLayer.hpp
  src/coreComponents/linearAlgebra/CMakeLists.txt
  src/coreComponents/mesh/utilities/ComputationalGeometry.hpp
  src/coreComponents/physicsSolvers/CMakeLists.txt
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseHybridFVM.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/SeismicityRate.cpp
  src/coreComponents/physicsSolvers/simplePDE/LaplaceBaseH1.cpp
  src/coreComponents/physicsSolvers/simplePDE/LaplaceFEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/firstOrderEqn/isotropic/AcousticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.cpp
Labels: ci: run CUDA builds, ci: run integrated tests

#3276 ci: add the possitility to use other build generators than ninja inside the ci
  .github/workflows/build_and_test.yml
  .github/workflows/ci_tests.yml
  scripts/ci_build_and_test_in_container.sh
Labels: ci: run CUDA builds, flag: ready for review, type: CI, ci: run integrated tests, flag: no rebaseline

#3318 fix: modify and reactivate SeismicityRate poroelastic integrated test.
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/inducedSeismicity/SeismicityRate_poromechanics_1d_smoke.xml
  inputFiles/inducedSeismicity/SeismicityRate_poromechanics_base.xml
  inputFiles/inducedSeismicity/SeismicityRate_poromechanics_benchmark.xml
  inputFiles/inducedSeismicity/SeismicityRate_poromechanics_smoke.xml
  inputFiles/inducedSeismicity/inducedSeismicity.ats
  src/coreComponents/physicsSolvers/inducedSeismicity/SeismicityRate.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/SeismicityRate.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/SeismicityRateKernels.hpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3340 ci: Time-saving version of PR #3159 that adds Pangea3 job with ppc emulation
  .devcontainer/devcontainer.json
  .github/workflows/build_and_test.yml
  .github/workflows/ci_tests.yml
  host-configs/TOTAL/pangea3-gcc8.4.1-openmpi-4.1.2-wave-solver.cmake
Labels: ci: run CUDA builds, flag: requires updated TPL(s), type: CI, ci: run integrated tests, flag: no rebaseline

#3342 refactor: mixture density computation in multiphase poromechanics solvers
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/MultiphasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/MultiphasePoromechanics_impl.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/ThermalMultiphasePoromechanics_impl.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline

#3293 fix: Remove shadow declarations
  src/coreComponents/mesh/generators/CellBlockManager.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests

#3338 feat: minimum interval for time-step increase after time-step cut
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseFlow/c1-ppu/c1_ppu.ats
  inputFiles/compositionalMultiphaseFlow/c1-ppu/grav_seg_c1ppu_hyst.xml
  scripts/processIntegratedTestCheckFailures.py
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreInterface.cpp
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/SolverBase.cpp
  src/coreComponents/physicsSolvers/SolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3163 refactor: Trying to improve adaptive linear solver tolerance selection
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/linearAlgebra/utilities/LinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/LinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/LinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/SolverBase.cpp
  src/coreComponents/physicsSolvers/SolverBase.hpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3363 ci: add code coverage label requirement
  .github/workflows/ci_tests.yml
Labels: ci: run code coverage

#3362 fix: testLifoStorage random fail on RockyLinux with clang+CUDA
  src/coreComponents/common/unitTests/testLifoStorage.cpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3367 fix: Move chai's disableCallbacks to `setupLvArray`
  src/coreComponents/common/initializeEnvironment.cpp
  src/coreComponents/mainInterface/ProblemManager.cpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3321 docs: Move table titles from CompleteXMLSchema.rst to corresponding include file
  scripts/SchemaToRSTDocumentation.py
  src/coreComponents/events/docs/EventManager.rst
  src/coreComponents/events/docs/TasksManager.rst
  src/coreComponents/functions/docs/FunctionManager.rst
  src/coreComponents/physicsSolvers/fluidFlow/SourceFluxStatistics.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
Labels: type: documentation, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage
