Repository GEOS-DEV/GEOS, pull requests merged in 2025-08, with the labels that each got.

#3723 fix: avoid log(0) in ElasticIsotropicPressureDependent
  src/coreComponents/constitutive/solid/ElasticIsotropicPressureDependent.hpp
  src/coreComponents/physicsSolvers/solidMechanics/kernelSpecs.json
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3746 feat: add initial global component fraction checks
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseFlow/2ph_cap_1d_ihu.xml
  inputFiles/compositionalMultiphaseFlow/compositionalMultiphaseFlow.ats
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3671 feat: add map/unordered_map bounds checking
  src/coreComponents/common/DataTypes.hpp
  src/coreComponents/common/StdContainerWrappers.hpp
  src/coreComponents/common/unitTests/testDataTypes.cpp
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/functions/PVTFunctionHelpers.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluidPVTPackage.cpp
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/constitutive/unitTests/testCO2BrinePVTModels.cpp
  src/coreComponents/mesh/mpiCommunications/NeighborCommunicator.cpp
  src/coreComponents/mesh/unitTests/testMeshObjectPath.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/dataRepositoryTests/testRestartBasic.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3622 feat: Umpire csv stats output
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/hydraulicFracturing/kgdToughnessDominated_base.xml
  inputFiles/hydraulicFracturing/kgdToughnessDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/kgdViscosityDominated_base.xml
  inputFiles/hydraulicFracturing/kgdViscosityDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/pennyShapedAnisotropicToughness_base.xml
  inputFiles/hydraulicFracturing/pennyShapedToughnessDominated_base.xml
  inputFiles/hydraulicFracturing/pennyShapedToughnessDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/pennyShapedViscosityDominated_base.xml
  inputFiles/hydraulicFracturing/pennyShapedViscosityDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/pknViscosityDominated_base.xml
  inputFiles/hydraulicFracturing/pknViscosityDominated_poroelastic_base.xml
  inputFiles/hydraulicFracturing/walshQuarterNoChombo_base.xml
  inputFiles/poromechanics/faultPoroelastic_base.xml
  inputFiles/poromechanicsFractures/PoroElastic_dfm_PEBICrack_base.xml
  inputFiles/solidMechanics/KirschProblem_base.xml
  inputFiles/solidMechanics/plasticCubeReset.xml
  src/coreComponents/codingUtilities/Parsing.cpp
  src/coreComponents/codingUtilities/Parsing.hpp
  src/coreComponents/common/MemoryInfos.cpp
  src/coreComponents/common/MemoryInfos.hpp
  src/coreComponents/common/format/StringUtilities.hpp
  src/coreComponents/common/format/table/TableFormatter.cpp
  src/coreComponents/common/format/table/TableFormatter.hpp
  src/coreComponents/common/initializeEnvironment.cpp
  src/coreComponents/events/EventManager.cpp
  src/coreComponents/fileIO/CMakeLists.txt
  src/coreComponents/fileIO/LogLevelsInfo.hpp
  src/coreComponents/fileIO/Outputs/MemoryStatsOutput.cpp
  src/coreComponents/fileIO/Outputs/MemoryStatsOutput.hpp
  src/coreComponents/fileIO/Outputs/OutputBase.cpp
  src/coreComponents/fileIO/Outputs/OutputBase.hpp
  src/coreComponents/fileIO/Outputs/SiloOutput.cpp
  src/coreComponents/fileIO/Outputs/SiloOutput.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/fileIOTests/CMakeLists.txt
  src/coreComponents/unitTests/fileIOTests/testMemoryStats.cpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3682 feat: Add physics-based scaling option
  .devcontainer/devcontainer.json
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/linearAlgebra/DofManager.hpp
  src/coreComponents/linearAlgebra/interfaces/MatrixBase.hpp
  src/coreComponents/linearAlgebra/interfaces/VectorBase.hpp
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreMGR.hpp
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreMatrix.cpp
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreMatrix.hpp
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreSolver.cpp
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreVector.cpp
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreVector.hpp
  src/coreComponents/linearAlgebra/interfaces/petsc/PetscMatrix.cpp
  src/coreComponents/linearAlgebra/interfaces/petsc/PetscMatrix.hpp
  src/coreComponents/linearAlgebra/interfaces/petsc/PetscVector.cpp
  src/coreComponents/linearAlgebra/interfaces/petsc/PetscVector.hpp
  src/coreComponents/linearAlgebra/interfaces/trilinos/EpetraMatrix.cpp
  src/coreComponents/linearAlgebra/interfaces/trilinos/EpetraMatrix.hpp
  src/coreComponents/linearAlgebra/interfaces/trilinos/EpetraVector.cpp
  src/coreComponents/linearAlgebra/interfaces/trilinos/EpetraVector.hpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, flag: requires updated TPL(s), ci: run integrated tests, ci: run code coverage

#3758 ci: quiet for "gsutil cp"
  .github/workflows/build_and_test.yml
Labels: ci: run CUDA builds, type: CI, ci: run integrated tests, flag: no rebaseline

#3775 fix: Lambda capture 'mat' is not used
  src/coreComponents/linearAlgebra/interfaces/trilinos/EpetraMatrix.cpp
Labels: type: cleanup / refactor, type: build system, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3772 fix: compilation error with Apple Clang
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsSolver.hpp
Labels: type: build system, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3774 fix: add dane clang build
  .devcontainer/devcontainer.json
  .github/workflows/ci_tests.yml
  host-configs/LLNL/dane-gcc-12.cmake
  host-configs/LLNL/dane-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/LLNL/dane-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/dane-toss_4_x86_64_ib-gcc@12noAVX.cmake
  host-configs/LLNL/lassen-base.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda@11.8.0.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda@12.2.2.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@12.2.1-cuda@12.2.2.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1-cuda@11.8.0.cmake
  host-configs/LLNL/lassen-clang-10-cuda-11.cmake
  host-configs/LLNL/lassen-clang-13-cuda-11.cmake
  host-configs/LLNL/lassen-clang-13-cuda-12.cmake
  host-configs/LLNL/lassen-gcc-8-cuda-11.cmake
  host-configs/LLNL/llnl-cpu-base.cmake
  host-configs/LLNL/ruby-clang-14.cmake
  host-configs/LLNL/ruby-gcc-12.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12noAVX.cmake
  host-configs/TOTAL/pangea2-base.cmake
  host-configs/TOTAL/pangea2-gcc@8.3.0.cmake
  host-configs/TOTAL/pangea2-icc@18.0.3.222.cmake
  host-configs/TOTAL/pangea2-icc@19.0.3.199.cmake
  host-configs/TOTAL/pangea2-icc@19.1.0.166.cmake
  host-configs/TOTAL/pecan-CPU.cmake
  host-configs/TOTAL/pecan-GPU.cmake
  src/coreComponents/common/DataTypes.hpp
Labels: ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3781 refactor: remove unused from subregion
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/mesh/CellElementRegion.cpp
  src/coreComponents/mesh/CellElementRegion.hpp
  src/coreComponents/mesh/CellElementSubRegion.cpp
  src/coreComponents/mesh/CellElementSubRegion.hpp
  src/coreComponents/mesh/FaceElementSubRegion.cpp
  src/coreComponents/mesh/FaceElementSubRegion.hpp
  src/coreComponents/mesh/ParticleSubRegion.cpp
  src/coreComponents/mesh/ParticleSubRegion.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3783 fix: Fix bug in stability test bypass
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.hpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3792 refactor: remove coreComponents/constitutive/solid/Deprecated
  src/coreComponents/constitutive/solid/Deprecated/PoreVolumeCompressibleSolid.cpp
  src/coreComponents/constitutive/solid/Deprecated/PoreVolumeCompressibleSolid.hpp
  src/coreComponents/constitutive/solid/Deprecated/PoroElastic.cpp
  src/coreComponents/constitutive/solid/Deprecated/PoroElastic.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline

#3798 fix: Add more context to PVT logLevel
  src/coreComponents/common/format/table/TableData.cpp
  src/coreComponents/common/format/table/TableFormatter.cpp
  src/coreComponents/common/format/table/unitTests/testTable.cpp
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/CO2BrineFluid.cpp
  src/coreComponents/constitutive/fluid/multifluid/LogLevelsInfo.hpp
  src/coreComponents/constitutive/fluid/multifluid/reactive/ReactiveBrineFluid.cpp
  src/coreComponents/functions/TableFunction.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, type: docs
