Repository GEOS-DEV/GEOS, pull requests merged in 2025-02, with the labels that each got.

#3500 fix: issue 3499
  src/coreComponents/common/Units.hpp
  src/coreComponents/constitutive/capillaryPressure/JFunctionCapillaryPressure.cpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline

#3502 fix: Add source value array for fwi in wave solvers
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustoelastic/secondOrderEqn/isotropic/AcousticElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/PrecomputeSourcesAndReceiversKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationAdjoint1.cpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3227 refactor: Preparatory for well to frac connection
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/poromechanicsFractures/singlePhasePoromechanics_FaultModel_well_fim_new_smoke.xml
  inputFiles/poromechanicsFractures/singlePhasePoromechanics_FaultModel_well_new_base.xml
  inputFiles/poromechanicsFractures/singlePhasePoromechanics_FaultModel_well_seq_new_smoke.xml
  src/coreComponents/finiteVolume/FiniteVolumeManager.cpp
  src/coreComponents/mesh/MeshForLoopInterface.hpp
  src/coreComponents/mesh/Perforation.cpp
  src/coreComponents/mesh/Perforation.hpp
  src/coreComponents/mesh/WellElementSubRegion.cpp
  src/coreComponents/mesh/generators/LineBlock.hpp
  src/coreComponents/mesh/generators/LineBlockABC.hpp
  src/coreComponents/mesh/generators/MeshGeneratorBase.cpp
  src/coreComponents/mesh/generators/WellGeneratorBase.cpp
  src/coreComponents/mesh/generators/WellGeneratorBase.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/multiphysics/PhaseFieldFractureSolver.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsMPM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsMPM.hpp
  src/coreComponents/physicsSolvers/surfaceGeneration/EmbeddedSurfaceGenerator.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.cpp
Labels: type: feature, type: cleanup / refactor, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3504 ci: add dkachuma and tjb-ltk as code owners for flow solvers and tests
  .github/CODEOWNERS
  .github/workflows/ci_tests.yml
Labels: ci: run CUDA builds, type: CI, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3531 refactor: move contact into solidMechanics
  src/coreComponents/constitutive/contact/CoulombFriction.hpp
  src/coreComponents/constitutive/contact/FrictionBase.hpp
  src/coreComponents/constitutive/contact/FrictionlessContact.hpp
  src/coreComponents/constitutive/contact/HydraulicApertureBase.hpp
  src/coreComponents/constitutive/contact/RateAndStateFriction.hpp
  src/coreComponents/physicsSolvers/CMakeLists.txt
  src/coreComponents/physicsSolvers/inducedSeismicity/ExplicitQDRateAndState.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/ImplicitQDRateAndState.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/QDRateAndStateBase.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/QuasiDynamicEarthQuake.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/SpringSlider.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/kernels/ExplicitRateAndStateKernels.hpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/OneWayCoupledFractureFlowContactMechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/OneWayCoupledFractureFlowContactMechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM_impl.hpp
  src/coreComponents/physicsSolvers/solidMechanics/CMakeLists.txt
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsFields.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/CMakeLists.txt
  src/coreComponents/physicsSolvers/solidMechanics/contact/ContactFields.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/ContactSolverBase.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/ContactSolverBase.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/FractureState.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/LogLevelsInfo.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContactBubbleStab.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContactBubbleStab.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsPenaltyContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsPenaltyContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/docs/ContactMechanics.rst
  src/coreComponents/physicsSolvers/solidMechanics/contact/docs/SolidMechanicsConformingFractures.rst
  src/coreComponents/physicsSolvers/solidMechanics/contact/docs/SolidMechanicsEmbeddedFractures.rst
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsALMKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsALMKernelsBase.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsALMSimultaneousKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsConformingContactKernelsBase.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsConformingContactKernelsHelper.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsContactFaceBubbleKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsDisplacementJumpUpdateKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsEFEMJumpUpdateKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsEFEMKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsEFEMKernelsBase.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsEFEMKernelsHelper.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsEFEMStaticCondensationKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsLagrangeContactKernels.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3544 ci: Fix unit tests for Sherlock CPU
  .github/workflows/ci_tests.yml
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterFlashModel.cpp
Labels: ci: run CUDA builds, flag: ready for review, type: CI, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3529 fix: SegFault when a MPI rank has no data of a sub-region
  src/coreComponents/common/MpiWrapper.cpp
  src/coreComponents/common/MpiWrapper.hpp
  src/coreComponents/common/initializeEnvironment.cpp
  src/coreComponents/common/unitTests/CMakeLists.txt
  src/coreComponents/common/unitTests/testMpiWrapper.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.hpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3503 ci: remove code owners from .integrated_tests.yaml
  .github/CODEOWNERS
Labels: type: CI, flag: no rebaseline

#3540 feat: restore elementCount in SourceFluxStatistics log table
  src/coreComponents/physicsSolvers/fluidFlow/SourceFluxStatistics.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3546 ci: fix 1d edfm case and add it to ats
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/multiphaseFlowFractures/deadoil_3ph_corey_edfm_1d.xml
  inputFiles/multiphaseFlowFractures/multiphaseFlowFractures.ats
Labels: ci: run CUDA builds, flag: requires rebaseline, type: CI, ci: run integrated tests

#3552 fix: segFault in ThermoPoromechanics EFEM case
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/ThermalSinglePhasePoromechanicsEmbeddedFractures.hpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests

#3541 fix: sync well constraint
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellControls.hpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3551 ci: Add Passing Crack to the integrated tests
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/lagrangianContactMechanics/ALM_PassingCrack_smoke.xml
  inputFiles/lagrangianContactMechanics/contactMechanics.ats
Labels: ci: run CUDA builds, flag: requires rebaseline, type: CI, ci: run integrated tests

#3526 docs: compilation guide on sherlock
  host-configs/Stanford/compilation_on_sherlock.md
Labels: type: documentation, ci: run CUDA builds, ci: run integrated tests, ci: run code coverage
