Repository GEOS-DEV/GEOS, pull requests merged in 2025-09, with the labels that each got.

#3728 feat: `--validate-input` command line option
  src/coreComponents/common/initializeEnvironment.hpp
  src/coreComponents/mainInterface/GeosxState.cpp
  src/coreComponents/mainInterface/initialization.cpp
  src/docs/sphinx/QuickStart.rst
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3680 fix: logic for deciding whether to setup linear solver
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/thermoPoromechanics/ThermoPoroElastic_SinglePhase_ThermalGradient_benchmark_fim.xml
  inputFiles/thermoPoromechanics/ThermoPoroElastic_SinglePhase_ThermalGradient_benchmark_sequential.xml
  inputFiles/thermoPoromechanics/ThermoPoroElastic_SinglePhase_ThermalGradient_smoke_fim.xml
  inputFiles/thermoPoromechanics/ThermoPoroElastic_SinglePhase_ThermalGradient_smoke_sequential.xml
  inputFiles/thermoPoromechanics/thermoPoromechanics.ats
  src/coreComponents/linearAlgebra/utilities/LinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/LinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/LinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3770 feat: improve mimetic inner products unit testing
  src/coreComponents/unitTests/finiteVolumeTests/testMimeticInnerProducts.cpp
Labels: type: testing, ci: run CUDA builds, flag: ready for review, type: CI, ci: run integrated tests, ci: run code coverage

#3285 test: add hf verification cases for leak-off
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/hydraulicFracturing/Hydrofracturing.ats
  inputFiles/hydraulicFracturing/kgdToughness_Leakoff_Dominated_base.xml
  inputFiles/hydraulicFracturing/kgdToughness_Leakoff_Dominated_benchmark.xml
  inputFiles/hydraulicFracturing/kgdToughness_Leakoff_Dominated_smoke.xml
  inputFiles/hydraulicFracturing/kgdToughness_Storage_Dominated_base.xml
  inputFiles/hydraulicFracturing/kgdToughness_Storage_Dominated_benchmark.xml
  inputFiles/hydraulicFracturing/kgdToughness_Storage_Dominated_smoke.xml
Labels: type: testing, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3762 refactor: move printFieldInfo into setSystemSetupTimestamp so that all solvers print it
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.cpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3768 fix: update m_weights indexing in SurfaceElementStencil.hpp (from #3474)
  src/coreComponents/finiteVolume/SurfaceElementStencil.hpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3349 feat: Configuration loop acceleration for SolidMechanicsLagrangeContact
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/poromechanicsFractures/yieldAcceleration/final_split_domain.vtu
  inputFiles/poromechanicsFractures/yieldAcceleration/final_split_fault.vtu
  inputFiles/poromechanicsFractures/yieldAcceleration/mesh_faultModel.vtm
  inputFiles/poromechanicsFractures/yieldAcceleration/validation_case_base.xml
  inputFiles/poromechanicsFractures/yieldAcceleration/validation_case_smoke_fim.xml
  inputFiles/poromechanicsFractures/yieldAcceleration/validation_case_smoke_seq.xml
  inputFiles/poromechanicsFractures/yieldAcceleration/validation_case_solvers_fim.xml
  inputFiles/poromechanicsFractures/yieldAcceleration/validation_case_solvers_seq.xml
  inputFiles/poromechanicsFractures/yieldAcceleration/yieldAcceleration.ats
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledSolver.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/ContactFields.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/ContactSolverBase.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.hpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3745 feat: oscillation scaling
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/lockExchange.ats
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/lockExchange_rho.xml
  src/coreComponents/physicsSolvers/LinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledSolver.hpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3801 fix: Managing geometric objects margins
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseFlow/benchmarks/buckleyLeverettProblem/buckleyLeverett_benchmark.xml
  inputFiles/compositionalMultiphaseFlow/benchmarks/buckleyLeverettProblem/buckleyLeverett_smoke.xml
  inputFiles/compositionalMultiphaseFlow/co2_flux_3d.xml
  src/coreComponents/mesh/MeshBody.cpp
  src/coreComponents/mesh/MeshBody.hpp
  src/coreComponents/mesh/MeshManager.cpp
  src/coreComponents/mesh/generators/CellBlockManager.hpp
  src/coreComponents/mesh/generators/CellBlockManagerABC.hpp
  src/coreComponents/mesh/generators/InternalMeshGenerator.cpp
  src/coreComponents/mesh/generators/VTKMeshGenerator.cpp
  src/coreComponents/mesh/generators/VTKUtilities.cpp
  src/coreComponents/mesh/generators/VTKUtilities.hpp
  src/coreComponents/mesh/simpleGeometricObjects/Box.cpp
  src/coreComponents/mesh/simpleGeometricObjects/Box.hpp
  src/coreComponents/mesh/simpleGeometricObjects/Cylinder.cpp
  src/coreComponents/mesh/simpleGeometricObjects/Cylinder.hpp
  src/coreComponents/mesh/simpleGeometricObjects/PlanarGeometricObject.cpp
  src/coreComponents/mesh/simpleGeometricObjects/PlanarGeometricObject.hpp
  src/coreComponents/mesh/simpleGeometricObjects/SimpleGeometricObjectBase.cpp
  src/coreComponents/mesh/simpleGeometricObjects/SimpleGeometricObjectBase.hpp
  src/coreComponents/mesh/simpleGeometricObjects/ThickPlane.cpp
  src/coreComponents/mesh/simpleGeometricObjects/ThickPlane.hpp
  src/coreComponents/mesh/unitTests/testGeometricObjects.cpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3796 refactor: add solid fields
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/solid/CeramicDamage.cpp
  src/coreComponents/constitutive/solid/CeramicDamage.hpp
  src/coreComponents/constitutive/solid/Damage.cpp
  src/coreComponents/constitutive/solid/Damage.hpp
  src/coreComponents/constitutive/solid/DamageSpectral.hpp
  src/coreComponents/constitutive/solid/DamageVolDev.hpp
  src/coreComponents/constitutive/solid/DelftEgg.cpp
  src/coreComponents/constitutive/solid/DelftEgg.hpp
  src/coreComponents/constitutive/solid/DruckerPrager.cpp
  src/coreComponents/constitutive/solid/DruckerPrager.hpp
  src/coreComponents/constitutive/solid/DruckerPragerExtended.cpp
  src/coreComponents/constitutive/solid/DruckerPragerExtended.hpp
  src/coreComponents/constitutive/solid/DuvautLionsSolid.cpp
  src/coreComponents/constitutive/solid/ElasticIsotropic.cpp
  src/coreComponents/constitutive/solid/ElasticIsotropic.hpp
  src/coreComponents/constitutive/solid/ElasticIsotropicPressureDependent.cpp
  src/coreComponents/constitutive/solid/ElasticIsotropicPressureDependent.hpp
  src/coreComponents/constitutive/solid/ElasticOrthotropic.cpp
  src/coreComponents/constitutive/solid/ElasticOrthotropic.hpp
  src/coreComponents/constitutive/solid/ElasticTransverseIsotropic.cpp
  src/coreComponents/constitutive/solid/ElasticTransverseIsotropic.hpp
  src/coreComponents/constitutive/solid/ModifiedCamClay.cpp
  src/coreComponents/constitutive/solid/ModifiedCamClay.hpp
  src/coreComponents/constitutive/solid/PerfectlyPlastic.cpp
  src/coreComponents/constitutive/solid/PerfectlyPlastic.hpp
  src/coreComponents/constitutive/solid/SolidBase.cpp
  src/coreComponents/constitutive/solid/SolidBase.hpp
  src/coreComponents/constitutive/solid/SolidFields.hpp
  src/coreComponents/constitutive/solid/SolidInternalEnergy.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/kernels/surfaceGenerationKernels.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3790 feat: enable Kozeny-Carman Permeability for `PorousSolid`
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/poromechanics/PoroElastic_CarmanKozenyPermeability_base.xml
  inputFiles/poromechanics/PoroElastic_CarmanKozenyPermeability_fim_smoke.xml
  inputFiles/poromechanics/PoroElastic_CarmanKozenyPermeability_sequential_smoke.xml
  inputFiles/poromechanics/poroElasticCoupling.ats
  src/coreComponents/constitutive/ConstitutivePassThru.hpp
  src/coreComponents/constitutive/permeability/CarmanKozenyPermeability.cpp
  src/coreComponents/constitutive/permeability/CarmanKozenyPermeability.hpp
  src/coreComponents/constitutive/solid/PorousSolid.cpp
  src/coreComponents/constitutive/solid/PorousSolid.hpp
  src/coreComponents/physicsSolvers/multiphysics/kernelSpecs.json
  src/coreComponents/physicsSolvers/solidMechanics/kernelSpecs.json
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3839 fix: matrix setup for poromechanics with contact and wells
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledReservoirAndWellsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/simplePDE/LaplaceFEM.cpp
  src/coreComponents/physicsSolvers/simplePDE/LaplaceFEM.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContactBubbleStab.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContactBubbleStab.hpp
Labels: type: bug, flag: ready for review, ci: run integrated tests, flag: no rebaseline

#3841 fix: add couple of input checks
  src/coreComponents/constitutive/solid/ElasticIsotropicPressureDependent.cpp
  src/coreComponents/constitutive/solid/ModifiedCamClay.cpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline

#3834 fix: clean up set sparsity pattern logic + matrix setup for poromechanics with contact and wells
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledReservoirAndWellsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/simplePDE/LaplaceFEM.cpp
  src/coreComponents/physicsSolvers/simplePDE/LaplaceFEM.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsAugmentedLagrangianContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContactBubbleStab.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContactBubbleStab.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsPenaltyContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsPenaltyContact.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline
