Repository GEOS-DEV/GEOS, pull requests merged in 2025-05, with the labels that each got.

#3640 fix: Fix compilation errors with gcc 13
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/CompositionalMultiphaseWellKernels.cpp
  src/coreComponents/unitTests/constitutiveTests/MultiFluidTest.hpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests

#3641 build: update LC hostconfigs
  .devcontainer/devcontainer.json
  host-configs/LLNL/dane-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda@11.8.0.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda@12.2.2.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@12.2.1-cuda@12.2.2.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1-cuda@11.8.0.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12noAVX.cmake
Labels: ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3524 feat: Immiscible multiphase flow
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_BuckleyLeverett/buckleyLeverett_base.xml
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_BuckleyLeverett/buckleyLeverett_benchmark.xml
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_CapillaryPressure/immiscibleTwoPhase_CapillaryPressure.ats
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_CapillaryPressure/immiscibleTwoPhase_CapillaryPressure.xml
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_CapillaryPressure/initialSaturation1.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_CapillaryPressure/initialSaturation2.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_CapillaryPressure/x.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_CapillaryPressure/y.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_CapillaryPressure/z.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/dens_pvdo.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/immiscibleTwoPhase_SPE10_layer84.ats
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/immiscibleTwoPhase_SPE10_layer84_base_direct.xml
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/immiscibleTwoPhase_SPE10_layer84_base_iterative.xml
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/immiscibleTwoPhase_SPE10_layer84_benchmark_direct.xml
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/immiscibleTwoPhase_SPE10_layer84_benchmark_iterative.xml
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/layer84_permx.geos
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/layer84_permy.geos
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/layer84_permz.geos
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/layer84_poro.geos
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/pres_pvdo.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/visc_pvdo.txt
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/xlin.geos
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/ylin.geos
  inputFiles/immiscibleMultiphaseFlow/immiscibleTwoPhase_SPE10_layer84/zlin.geos
  inputFiles/immiscibleMultiphaseFlow/immiscible_2phaseFlow_1d.xml
  src/coreComponents/common/DataLayouts.hpp
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/docs/FluidModels.rst
  src/coreComponents/constitutive/docs/TwoPhaseImmiscibleFluid.rst
  src/coreComponents/constitutive/fluid/twophaseimmisciblefluid/TwoPhaseImmiscibleFluid.cpp
  src/coreComponents/constitutive/fluid/twophaseimmisciblefluid/TwoPhaseImmiscibleFluid.hpp
  src/coreComponents/constitutive/fluid/twophaseimmisciblefluid/TwoPhaseImmiscibleFluidFields.hpp
  src/coreComponents/linearAlgebra/CMakeLists.txt
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreMGR.cpp
  src/coreComponents/linearAlgebra/interfaces/hypre/mgrStrategies/ImmiscibleMultiphaseFVM.hpp
  src/coreComponents/linearAlgebra/unitTests/testLinearSolverParametersEnums.cpp
  src/coreComponents/linearAlgebra/utilities/LinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/PhysicsSolvers.rst
  src/coreComponents/physicsSolvers/fluidFlow/CMakeLists.txt
  src/coreComponents/physicsSolvers/fluidFlow/ImmiscibleMultiphaseFlow.cpp
  src/coreComponents/physicsSolvers/fluidFlow/ImmiscibleMultiphaseFlow.hpp
  src/coreComponents/physicsSolvers/fluidFlow/ImmiscibleMultiphaseFlowFields.hpp
  src/coreComponents/physicsSolvers/fluidFlow/docs/ImmiscibleMultiphaseFlow.rst
  src/coreComponents/physicsSolvers/fluidFlow/kernels/immiscibleMultiphase/ImmiscibleMultiphaseKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/immiscibleMultiphase/KernelLaunchSelectors.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/constitutiveTests/CMakeLists.txt
  src/coreComponents/unitTests/constitutiveTests/testTwoPhaseImmiscibleFluid.cpp
  src/coreComponents/unitTests/fluidFlowTests/CMakeLists.txt
  src/coreComponents/unitTests/fluidFlowTests/testImmiscibleMultiphaseFlow.cpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3643 fix: sync perf found
  src/coreComponents/mesh/DomainPartition.cpp
  src/coreComponents/mesh/WellElementSubRegion.cpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3647 feat: update hypre
  host-configs/LLNL/dane-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda@11.8.0.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda@12.2.2.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@12.2.1-cuda@12.2.2.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1-cuda@11.8.0.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12noAVX.cmake
Labels: ci: run CUDA builds, ci: run integrated tests

#3596 fix: PVT Temperature Table Range Error Reporting
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/functions/PVTFunctionHelpers.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3645 fix: dt for control/pres bal eqn
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/CompositionalMultiphaseWellKernels.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/ThermalCompositionalMultiphaseWellKernels.hpp
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3639 refactor: Move fluid tests under constitutive
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/constitutive/unitTests/FluidModelTest.hpp
  src/coreComponents/constitutive/unitTests/FluidModelTest_impl.hpp
  src/coreComponents/constitutive/unitTests/testMultiFluidDeadOil.cpp
  src/coreComponents/unitTests/constitutiveTests/CMakeLists.txt
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidDeadOil.cpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3274 feat: Do not allow linear solver fail feature
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
Labels: type: feature, type: cleanup / refactor, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3632 fix: error message for vtk import to avoid hard crash
  src/coreComponents/mesh/generators/CollocatedNodes.cpp
  src/coreComponents/mesh/generators/CollocatedNodes.hpp
  src/coreComponents/mesh/generators/VTKFaceBlockUtilities.cpp
  src/coreComponents/mesh/generators/VTKUtilities.cpp
  src/coreComponents/unitTests/meshTests/testVTKImport.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3653 refactor: Move fluid model tests
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/CO2BrineFluid.hpp
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/functions/PVTFunctionHelpers.cpp
  src/coreComponents/constitutive/fluid/multifluid/blackOil/BlackOilFluid.cpp
  src/coreComponents/constitutive/fluid/multifluid/blackOil/BlackOilFluid.hpp
  src/coreComponents/constitutive/fluid/twophaseimmisciblefluid/TwoPhaseImmiscibleFluid.cpp
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/constitutive/unitTests/FluidModelTest.hpp
  src/coreComponents/constitutive/unitTests/FluidModelTest_impl.hpp
  src/coreComponents/constitutive/unitTests/testMultiFluidBlackOil.cpp
  src/coreComponents/constitutive/unitTests/testMultiFluidCO2Brine.cpp
  src/coreComponents/constitutive/unitTests/testMultiFluidTwoPhaseCompositionalMultiphase.cpp
  src/coreComponents/constitutive/unitTests/testTwoPhaseImmiscibleFluid.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/unitTests/constitutiveTests/CMakeLists.txt
  src/coreComponents/unitTests/constitutiveTests/MultiFluidTest.hpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidCO2Brine.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidCompositionalMultiphase.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidCompositionalMultiphasePVTPackage.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidLiveOil.cpp
  src/coreComponents/unitTests/constitutiveTests/testTwoPhaseImmiscibleFluid.cpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3668 fix: well csv output file header
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3631 feat: Receive cycleNumber for Python bindings in output/execute/collect calls
  src/coreComponents/fileIO/python/PyHistoryCollection.cpp
  src/coreComponents/fileIO/python/PyHistoryOutput.cpp
  src/coreComponents/fileIO/python/PyVTKOutput.cpp
  src/coreComponents/physicsSolvers/python/PySolver.cpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3669 feat: output component rates
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3666 refactor: split functionality of addToFractureMesh
  src/coreComponents/mesh/SurfaceElementRegion.cpp
  src/coreComponents/mesh/SurfaceElementRegion.hpp
Labels: ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3667 feat: Add option for computing the imaging condition for RTM
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/firstOrderEqn/isotropic/AcousticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/firstOrderEqn/isotropic/AcousticFirstOrderWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/shared/AcousticFields.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/shared/AcousticMatricesSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/firstOrderEqn/isotropic/ElasticFirstOrderWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.hpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagation.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationAdjoint1.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationAttenuation.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationDAS.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationElasticVTI.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationQ2.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3019 feat: Adding log parts
  src/coreComponents/common/CMakeLists.txt
  src/coreComponents/common/format/LogPart.cpp
  src/coreComponents/common/format/LogPart.hpp
  src/coreComponents/common/format/StringUtilities.cpp
  src/coreComponents/common/format/unitTests/CMakeLists.txt
  src/coreComponents/common/format/unitTests/testLogPart.cpp
  src/coreComponents/dataRepository/ExecutableGroup.cpp
  src/coreComponents/dataRepository/ExecutableGroup.hpp
  src/coreComponents/events/EventBase.hpp
  src/coreComponents/events/EventManager.cpp
  src/coreComponents/events/EventManager.hpp
  src/coreComponents/mainInterface/ProblemManager.cpp
  src/coreComponents/mesh/DomainPartition.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests

#3398 feat: Add attenuation for acoustic wave solvers
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIFields.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/anisotropic/AcousticVTIWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/shared/AcousticFields.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/shared/AcousticTimeSchemeSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/shared/ElasticTimeSchemeSEMKernel.hpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/WaveSolverBase.hpp
  src/coreComponents/unitTests/wavePropagationTests/CMakeLists.txt
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationAttenuationAcoustic.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationAttenuationAcousticVTI.cpp
  src/coreComponents/unitTests/wavePropagationTests/testWavePropagationAttenuationElastic.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3606 feat: Create Soreide-Whitson fluid model
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/fluid/multifluid/MultiFluidSelector.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluid.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluid.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/CubicEOSPhaseModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/FlashData.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/FugacityCalculator.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/KValueInitialization.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/NegativeTwoPhaseFlash.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/SoreideWhitsonEOSPhaseModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/SoreideWhitsonEOSPhaseModel_impl.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/StabilityTest.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/CompositionalDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterFlashModel.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterFlashModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/LohrenzBrayClarkViscosity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/LohrenzBrayClarkViscosity_Impl.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineDensity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/ComponentProperties.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/CriticalVolume.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/EquationOfState.hpp
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/constitutive/unitTests/testNegativeTwoPhaseFlash.cpp
  src/coreComponents/constitutive/unitTests/testNegativeTwoPhaseFlash9Comp.cpp
  src/coreComponents/constitutive/unitTests/testSoreideWhitsonEOSPhaseModel.cpp
  src/coreComponents/constitutive/unitTests/testSoreideWhitsonFlash.cpp
  src/coreComponents/constitutive/unitTests/testStabilityTest2Comp.cpp
  src/coreComponents/constitutive/unitTests/testStabilityTest9Comp.cpp
  src/coreComponents/constitutiveDrivers/CMakeLists.txt
  src/coreComponents/constitutiveDrivers/fluid/multiFluid/PVTDriverRunTest.hpp
  src/coreComponents/constitutiveDrivers/fluid/multiFluid/compositional/PVTDriverRunTestCompositionalTwoPhasePhillipsBrine.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/constitutiveTests/testPVT_CompositionalPhillipsBrine.xml
  src/coreComponents/unitTests/constitutiveTests/testPVT_CompositionalPhillipsBrine_brine.txt
  src/coreComponents/unitTests/constitutiveTests/testPVT_ThreePhaseCompositional.xml
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3661 docs: Update CO2 injection example
  inputFiles/compositionalMultiphaseWell/simpleCo2InjTutorial_base.xml
  src/docs/sphinx/basicExamples/co2Injection/Example.rst
  src/docs/sphinx/basicExamples/co2Injection/fcCo2-K.png
  src/docs/sphinx/basicExamples/co2Injection/fcCo2-logK.png
  src/docs/sphinx/basicExamples/co2Injection/fcCo2-sat-0.png
  src/docs/sphinx/basicExamples/co2Injection/fcCo2-sat-1.png
  src/docs/sphinx/basicExamples/co2Injection/fcCo2-sat-2.png
Labels: type: documentation, ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3679 refactor: solvers cleanup
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/PhysicsSolverManager.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/ImmiscibleMultiphaseFlow.cpp
  src/coreComponents/physicsSolvers/fluidFlow/ImmiscibleMultiphaseFlow.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseProppantBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseProppantBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SourceFluxStatistics.hpp
  src/coreComponents/physicsSolvers/fluidFlow/StencilDataCollection.cpp
  src/coreComponents/physicsSolvers/fluidFlow/StencilDataCollection.hpp
  src/coreComponents/physicsSolvers/fluidFlow/proppantTransport/ProppantTransport.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/SinglePhaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/MultiphasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/PoromechanicsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsDamage_impl.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsEFEM_impl.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanics_impl.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/ContactSolverBase.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/EmbeddedSurfaceGenerator.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/EmbeddedSurfaceGenerator.hpp
  src/coreComponents/physicsSolvers/surfaceGeneration/EmbeddedSurfacesParallelSynchronization.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/EmbeddedSurfacesParallelSynchronization.hpp
  src/coreComponents/physicsSolvers/surfaceGeneration/ParallelTopologyChange.hpp
  src/coreComponents/physicsSolvers/surfaceGeneration/ParallelTopologyChangeNoFixup.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.hpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests
