Repository GEOS-DEV/GEOS, pull requests merged in 2025-03, with the labels that each got.

#3576 feat: add an option to skip density and viscosity computes when phase is not present for co2 fluid update
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/CO2BrineFluid.cpp
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/CO2BrineFluid.hpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests

#3483 refactor: remove rel perm from wells
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/class09_pb3_drainageOnly_direct_base.xml
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/class09_pb3_drainageOnly_iterative_base.xml
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/class09_pb3_hystRelperm_direct_base.xml
  inputFiles/compositionalMultiphaseWell/benchmarks/Class09Pb3/class09_pb3_hystRelperm_iterative_base.xml
  inputFiles/compositionalMultiphaseWell/benchmarks/Egg/deadOilEgg_base_direct.xml
  inputFiles/compositionalMultiphaseWell/benchmarks/Egg/deadOilEgg_base_iterative.xml
  inputFiles/compositionalMultiphaseWell/black_oil_wells_saturated_3d.xml
  inputFiles/compositionalMultiphaseWell/black_oil_wells_saturated_3d_stone2.xml
  inputFiles/compositionalMultiphaseWell/black_oil_wells_unsaturated_3d.xml
  inputFiles/compositionalMultiphaseWell/black_oil_wells_unsaturated_3d_stone2.xml
  inputFiles/compositionalMultiphaseWell/compositional_multiphase_wells_1d.xml
  inputFiles/compositionalMultiphaseWell/compositional_multiphase_wells_2d.xml
  inputFiles/compositionalMultiphaseWell/dead_oil_wells_2d.xml
  inputFiles/compositionalMultiphaseWell/dead_oil_wells_hybrid_2d.xml
  inputFiles/compositionalMultiphaseWell/simpleCo2InjTutorial_base.xml
  inputFiles/compositionalMultiphaseWell/staircase_co2_wells_3d.xml
  inputFiles/compositionalMultiphaseWell/staircase_co2_wells_hybrid_3d.xml
  inputFiles/poromechanics/PoroElastic_staircase_co2_3d_base.xml
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3535 refactor: remove unused StackVariables
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/PerforationFluxKernels.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3566 refactor: Refactoring dump input option
  src/coreComponents/common/format/StringUtilities.cpp
  src/coreComponents/common/format/StringUtilities.hpp
  src/coreComponents/common/format/table/TableFormatter.cpp
  src/coreComponents/common/format/table/TableLayout.cpp
  src/coreComponents/common/format/table/TableLayout.hpp
  src/coreComponents/common/format/table/unitTests/testTable.cpp
  src/coreComponents/dataRepository/Group.cpp
  src/coreComponents/dataRepository/Wrapper.hpp
  src/coreComponents/dataRepository/WrapperBase.cpp
  src/coreComponents/dataRepository/WrapperBase.hpp
  src/coreComponents/physicsSolvers/LinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SourceFluxStatistics.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsStatistics.cpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3401 fix: Add HU simplified 2-phase version, refactor IHU implementation and fix bugs where possible, change phase/component flux logic
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/finiteVolume/FluxApproximationBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CMakeLists.txt
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/C1PPUPhaseFlux.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/FluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/FluxComputeKernelBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/HU2PhaseFlux.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/IHUPhaseFlux.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/PPUPhaseFlux.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/PotGrad.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/StabilizedFluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/MultiphasePoromechanicsConformingFractures.hpp
Labels: type: bug, type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3575 fix: Add mathpresso to spack
  .devcontainer/devcontainer.json
  host-configs/LLNL/dane-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1-cuda.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1-cuda.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12noAVX.cmake
Labels: type: build system, ci: run CUDA builds, type: CI, ci: run integrated tests, ci: run code coverage

#3525 feat: add analytical leakoff
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBaseFields.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.hpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3564 refactor: Break physicsSolvers into multiple modules.
  .github/workflows/ci_tests.yml
  src/coreComponents/CMakeLists.txt
  src/coreComponents/mainInterface/CMakeLists.txt
  src/coreComponents/mesh/MeshForLoopInterface.hpp
  src/coreComponents/mesh/ParticleRegionBase.cpp
  src/coreComponents/mesh/ParticleSubRegionBase.cpp
  src/coreComponents/mesh/ParticleSubRegionBase.hpp
  src/coreComponents/physicsSolvers/CMakeLists.txt
  src/coreComponents/physicsSolvers/fluidFlow/CMakeLists.txt
  src/coreComponents/physicsSolvers/inducedSeismicity/CMakeLists.txt
  src/coreComponents/physicsSolvers/multiphysics/CMakeLists.txt
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/PoromechanicsKernels.cmake
  src/coreComponents/physicsSolvers/simplePDE/CMakeLists.txt
  src/coreComponents/physicsSolvers/solidMechanics/CMakeLists.txt
  src/coreComponents/physicsSolvers/solidMechanics/contact/CMakeLists.txt
  src/coreComponents/physicsSolvers/solidMechanics/kernels/SolidMechanicsKernels.cmake
  src/coreComponents/physicsSolvers/surfaceGeneration/CMakeLists.txt
  src/coreComponents/physicsSolvers/wavePropagation/CMakeLists.txt
Labels: type: build system, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3586 ci: add @MelReyCG as codeowner to few places
  .github/CODEOWNERS
Labels: ci: run CUDA builds, type: CI, ci: run integrated tests, flag: no rebaseline

#3579 ci: Sherlock Spack
  .devcontainer/devcontainer.json
Labels: ci: run CUDA builds, flag: requires updated TPL(s), type: CI, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3456 refactor: address some code analysis issues
  src/coreComponents/constitutive/ExponentialRelation.hpp
  src/coreComponents/constitutive/fluid/multifluid/CO2Brine/functions/PhillipsBrineViscosity.hpp
  src/coreComponents/constitutive/solid/ElasticIsotropicPressureDependent.hpp
  src/coreComponents/dataRepository/xmlWrapper.cpp
  src/coreComponents/fileIO/timeHistory/HistoryCollectionBase.cpp
  src/coreComponents/finiteElement/elementFormulations/ConformingVirtualElementOrder1.hpp
  src/coreComponents/mesh/utilities/StructuredGridUtilities.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/SolutionScalingAndCheckingKernelBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/singlePhase/ResidualNormKernel.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsConformingContactKernelsBase.hpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/acoustic/secondOrderEqn/isotropic/AcousticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3427 feat: well time step selector based on rates/bhp tables and clarify well rates logic
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/codingUtilities/Utilities.hpp
  src/coreComponents/functions/TableFunction.cpp
  src/coreComponents/functions/TableFunction.hpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/SinglePhaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/SinglePhaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellControls.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellControls.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/CompositionalMultiphaseWellKernels.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/CompositionalMultiphaseWellKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/SinglePhaseWellKernels.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/SinglePhaseWellKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/ThermalCompositionalMultiphaseWellKernels.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/ExplicitQDRateAndState.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/ExplicitQDRateAndState.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/ImplicitQDRateAndState.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/ImplicitQDRateAndState.hpp
  src/coreComponents/physicsSolvers/multiphysics/CompositionalMultiphaseReservoirAndWells.cpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhaseReservoirAndWells.cpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3555 feat: add aging law.
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/inducedSeismicity/SCEC_BP6_QD_S_base.xml
  inputFiles/inducedSeismicity/SCEC_BP7_QD_base.xml
  inputFiles/inducedSeismicity/SpringSliderExplicit_A_smoke.xml
  inputFiles/inducedSeismicity/SpringSliderExplicit_S_smoke.xml
  inputFiles/inducedSeismicity/SpringSliderImplicit_A_smoke.xml
  inputFiles/inducedSeismicity/SpringSliderImplicit_S_smoke.xml
  inputFiles/inducedSeismicity/SpringSlider_A_base.xml
  inputFiles/inducedSeismicity/SpringSlider_S_base.xml
  inputFiles/inducedSeismicity/SpringSlider_base.xml
  inputFiles/inducedSeismicity/inducedSeismicity.ats
  inputFiles/lagrangianContactMechanics/LagrangeContactBubbleStab_FixedSlip_base.xml
  src/coreComponents/constitutive/ConstitutivePassThru.hpp
  src/coreComponents/constitutive/contact/FrictionSelector.hpp
  src/coreComponents/constitutive/contact/RateAndStateFriction.cpp
  src/coreComponents/constitutive/contact/RateAndStateFriction.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/CMakeLists.txt
  src/coreComponents/physicsSolvers/inducedSeismicity/ExplicitQDRateAndState.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/ExplicitQDRateAndState.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/ImplicitQDRateAndState.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/QDRateAndStateBase.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/SpringSlider.cpp
  src/coreComponents/physicsSolvers/inducedSeismicity/SpringSlider.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/kernels/EmbeddedRungeKuttaKernels.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/kernels/ExplicitRateAndStateKernels.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/kernels/ImplicitRateAndStateKernels.hpp
  src/coreComponents/physicsSolvers/inducedSeismicity/kernels/RateAndStateKernelsBase.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
Labels: ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3592 fix: Fix static linking.
  .devcontainer/devcontainer.json
  src/coreComponents/physicsSolvers/CMakeLists.txt
Labels: ci: run CUDA builds, ci: run integrated tests

#3593 fix: random error with DAS receivers (Invalid distribution of receivers)
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
  src/coreComponents/physicsSolvers/wavePropagation/shared/PrecomputeSourcesAndReceiversKernel.hpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3599 fix: remove warnings in VEM implementation
  src/coreComponents/finiteElement/elementFormulations/ConformingVirtualElementOrder1.hpp
  src/coreComponents/finiteElement/elementFormulations/FiniteElementBase.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
Labels: ci: run CUDA builds, ci: run integrated tests

#3588 ci: oduran/xml_validation
  inputFiles/compositionalMultiphaseFlow/overallCompositionFormulation/co2_2d_plume/co2_2d_plume_Z.xml
  inputFiles/compositionalMultiphaseFlow/overallCompositionFormulation/gravitySegregation/grav_seg_drain_Z.xml
  scripts/validateXMLFiles.bash
  src/CMakeLists.txt
Labels: ci: run CUDA builds, flag: ready for review, changes XML input, type: CI, ci: run integrated tests, ci: run code coverage

#3594 refactor: Separate compositional fluid parameters from models
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluid.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/CompositionalMultiphaseFluidUpdates.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/CubicEOSPhaseModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/FugacityCalculator.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/KValueInitialization.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/NegativeTwoPhaseFlash.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/StabilityTest.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/CompositionalDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/FunctionBase.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterDensity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterFlashModel.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterFlashModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterViscosity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/LohrenzBrayClarkViscosity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/NegativeTwoPhaseFlashModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/ComponentProperties.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/CriticalVolume.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/CriticalVolume.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/EquationOfState.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/ImmiscibleWaterParameters.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/ImmiscibleWaterParameters.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/ModelParameters.hpp
  src/coreComponents/constitutive/unitTests/TestFluid.hpp
  src/coreComponents/constitutive/unitTests/testImmiscibleWaterFlashModel.cpp
  src/coreComponents/constitutive/unitTests/testImmiscibleWaterProperties.cpp
  src/coreComponents/constitutive/unitTests/testLohrenzBrayClarkViscosity.cpp
  src/coreComponents/unitTests/constitutiveTests/testMultiFluidCompositionalMultiphase.cpp
Labels: type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3590 build: remove large mem
  src/cmake/GeosxOptions.cmake
Labels: type: build system, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3600 feat: Add precision field to PVTDriver
  src/coreComponents/constitutiveDrivers/fluid/multiFluid/PVTDriver.cpp
  src/coreComponents/constitutiveDrivers/fluid/multiFluid/PVTDriver.hpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/unitTests/constitutiveTests/testPVT_CO2Brine.xml
  src/coreComponents/unitTests/constitutiveTests/testPVT_CO2BrineTables.xml
  src/coreComponents/unitTests/constitutiveTests/testPVT_CO2BrineTables_testCo2BrinePhillipsMixtureB.txt
  src/coreComponents/unitTests/constitutiveTests/testPVT_CO2Brine_testCo2BrinePhillipsMixtureB.txt
Labels: type: feature, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3550 docs: Fix links and clarify uberenv command
  src/docs/sphinx/buildGuide/SpackUberenv.rst
Labels: type: documentation, type: build system, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3598 feat: Add a compositional Phillips brine density model
  src/coreComponents/common/Units.hpp
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/CompositionalDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineDensity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineViscosity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineViscosity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/BrineSalinity.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/BrineSalinity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/PressureTemperatureCoordinates.cpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/parameters/PressureTemperatureCoordinates.hpp
  src/coreComponents/constitutive/unitTests/CMakeLists.txt
  src/coreComponents/constitutive/unitTests/testBrineSalinity.cpp
  src/coreComponents/constitutive/unitTests/testCompositionalPhillipsBrineDensity.cpp
  src/coreComponents/constitutive/unitTests/testCompositionalPhillipsBrineViscosity.cpp
  src/coreComponents/constitutive/unitTests/testPressureTemperatureCoordinates.cpp
Labels: type: feature, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3396 feat: make possible to use solid mechanics solver to perform poromechanics initialization
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledReservoirAndWellsBase.hpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanics.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsInitialization.cpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsInitialization.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsSolver.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanics.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3589 build: Update hypre to v2.32.0-33
  .devcontainer/devcontainer.json
  .integrated_tests.yaml
  BASELINE_NOTES.md
  host-configs/LLNL/dane-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1-cuda.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-clang@13.0.1-cuda.cmake
  host-configs/LLNL/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1-cuda.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12.1.1.cmake
  host-configs/LLNL/ruby-toss_4_x86_64_ib-gcc@12noAVX.cmake
  inputFiles/compositionalMultiphaseFlow/co2_flux_dirichlet.xml
Labels: ci: run CUDA builds, flag: ready for review, flag: requires updated TPL(s), flag: TPL(s) build check, ci: run integrated tests

#3608 fix: Keep XML validation log in build directory
  scripts/validateXMLFiles.bash
Labels: ci: run CUDA builds, flag: ready for review, changes XML input, ci: run integrated tests, ci: run code coverage
