Repository GEOS-DEV/GEOS, pull requests merged in 2025-01, with the labels that each got.

#3486 refactor: clarify new gravity, clean up kernel flags usage, move CFL computations to FVM solver
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/finiteVolume/docs/FiniteVolume.rst.txt
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseFVM.hpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseStatistics.cpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/AccumulationKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/C1PPUPhaseFlux.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/CFLKernel.cpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/CFLKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/DiffusionDispersionFluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/DissipationFluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/FluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/FluxComputeKernelBase.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/IHUPhaseFlux.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/PPUPhaseFlux.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/PotGrad.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/StabilizedFluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/ThermalAccumulationKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/ThermalDiffusionDispersionFluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/ThermalDirichletFluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/kernels/compositional/ThermalFluxComputeKernel.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/CompositionalMultiphaseWellKernels.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/ThermalCompositionalMultiphaseWellKernels.hpp
  src/coreComponents/physicsSolvers/multiphysics/CompositionalMultiphaseReservoirAndWells.cpp
  src/coreComponents/physicsSolvers/multiphysics/CoupledReservoirAndWellKernels.hpp
Labels: ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3384 feat: plastic strain output
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/constitutive/solid/ElasticIsotropic.hpp
  src/coreComponents/constitutive/solid/ElasticIsotropicPressureDependent.hpp
  src/coreComponents/constitutive/solid/ElasticOrthotropic.hpp
  src/coreComponents/constitutive/solid/ElasticTransverseIsotropic.hpp
  src/coreComponents/constitutive/solid/SolidBase.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsFields.hpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsStateReset.cpp
  src/coreComponents/physicsSolvers/solidMechanics/kernels/StrainHelper.hpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3495 fix: Feature/byer3/mass inj constraint fix
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseWell/compositionalMultiphaseWell.ats
  inputFiles/compositionalMultiphaseWell/isothm_mass_inj_table.xml
  inputFiles/compositionalMultiphaseWell/isothm_vol_inj_table.xml
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/CompositionalMultiphaseWell.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellControls.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellControls.hpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/CompositionalMultiphaseWellKernels.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/kernels/CompositionalMultiphaseWellKernels.hpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3509 feat: add automatic postprocessing of integratedTestsLogs.
  scripts/ci_build_and_test_in_container.sh
  scripts/processIntegratedTestCheckFailures.py
  scripts/setupPythonEnvironment.bash
  src/CMakeLists.txt
Labels: ci: run CUDA builds, ci: run integrated tests, ci: run code coverage

#3418 fix: Standardisation of incorrect sub-group creation errors
  examples/ObjectCatalog/Base.hpp
  examples/ObjectCatalog/main.cpp
  src/coreComponents/common/format/StringUtilities.hpp
  src/coreComponents/constitutive/ConstitutiveBase.cpp
  src/coreComponents/constitutive/ConstitutiveManager.cpp
  src/coreComponents/dataRepository/DataContext.cpp
  src/coreComponents/dataRepository/DataContext.hpp
  src/coreComponents/dataRepository/Group.cpp
  src/coreComponents/dataRepository/Group.hpp
  src/coreComponents/dataRepository/GroupContext.cpp
  src/coreComponents/dataRepository/GroupContext.hpp
  src/coreComponents/dataRepository/ObjectCatalog.hpp
  src/coreComponents/dataRepository/xmlWrapper.cpp
  src/coreComponents/discretizationMethods/NumericalMethodsManager.cpp
  src/coreComponents/events/EventBase.cpp
  src/coreComponents/events/EventManager.cpp
  src/coreComponents/events/tasks/TasksManager.cpp
  src/coreComponents/fieldSpecification/FieldSpecificationManager.cpp
  src/coreComponents/fileIO/Outputs/OutputManager.cpp
  src/coreComponents/finiteElement/FiniteElementDiscretizationManager.cpp
  src/coreComponents/finiteVolume/FiniteVolumeManager.cpp
  src/coreComponents/functions/FunctionManager.cpp
  src/coreComponents/mainInterface/ProblemManager.cpp
  src/coreComponents/mesh/CellElementRegionSelector.cpp
  src/coreComponents/mesh/ElementRegionManager.cpp
  src/coreComponents/mesh/ExternalDataSourceBase.cpp
  src/coreComponents/mesh/ExternalDataSourceManager.cpp
  src/coreComponents/mesh/MeshManager.cpp
  src/coreComponents/mesh/ParticleManager.cpp
  src/coreComponents/mesh/generators/CellBlockManager.cpp
  src/coreComponents/mesh/generators/MeshGeneratorBase.cpp
  src/coreComponents/mesh/generators/ParticleBlockManager.cpp
  src/coreComponents/mesh/generators/WellGeneratorBase.cpp
  src/coreComponents/mesh/simpleGeometricObjects/GeometricObjectManager.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverManager.cpp
  src/coreComponents/physicsSolvers/fluidFlow/wells/WellSolverBase.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/schema/schema.xsd.other
  src/coreComponents/unitTests/dataRepositoryTests/testObjectCatalog.cpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3406 refactor: Refactor log & CSV statistics
  src/coreComponents/common/MpiWrapper.hpp
  src/coreComponents/common/format/table/TableData.cpp
  src/coreComponents/common/format/table/TableData.hpp
  src/coreComponents/common/format/table/TableFormatter.cpp
  src/coreComponents/common/format/table/TableFormatter.hpp
  src/coreComponents/common/format/table/TableLayout.cpp
  src/coreComponents/common/format/table/TableLayout.hpp
  src/coreComponents/common/format/table/TableTypes.hpp
  src/coreComponents/common/format/table/unitTests/testTable.cpp
  src/coreComponents/common/initializeEnvironment.cpp
  src/coreComponents/functions/TableFunction.cpp
  src/coreComponents/mesh/DomainPartition.cpp
  src/coreComponents/mesh/generators/WellGeneratorBase.cpp
  src/coreComponents/physicsSolvers/LinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/NonlinearSolverParameters.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseStatistics.cpp
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseStatistics.hpp
  src/coreComponents/physicsSolvers/fluidFlow/LogLevelsInfo.hpp
  src/coreComponents/physicsSolvers/fluidFlow/SinglePhaseStatistics.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SourceFluxStatistics.cpp
  src/coreComponents/physicsSolvers/fluidFlow/SourceFluxStatistics.hpp
  src/coreComponents/physicsSolvers/fluidFlow/StencilDataCollection.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsStatistics.cpp
  src/coreComponents/schema/schema.xsd
  src/coreComponents/unitTests/fluidFlowTests/testFlowStatistics.cpp
Labels: type: feature, type: cleanup / refactor, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3513 fix: Clean up rst files.
  scripts/ci_build_and_test_in_container.sh
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3492 feat: mgr strategy for lagrangeContactBubbleStabilization
  src/coreComponents/linearAlgebra/CMakeLists.txt
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreMGR.cpp
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreMGR.hpp
  src/coreComponents/linearAlgebra/interfaces/hypre/mgrStrategies/LagrangianContactMechanicsBubbleStabilization.hpp
  src/coreComponents/linearAlgebra/utilities/LinearSolverParameters.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsLagrangeContactBubbleStab.cpp
Labels: ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3395 feat: MGR Strategy for ALM - Face Bubble Functions for Wedge Elements - Multipoint Integration Rules for Tetrahedra and Triangles
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/inducedSeismicity/SCEC_BP6_QD_S_explicit.xml
  inputFiles/inducedSeismicity/SCEC_BP6_QD_S_implicit.xml
  inputFiles/inducedSeismicity/SCEC_BP7_QD_base.xml
  src/coreComponents/constitutive/contact/CoulombFriction.hpp
  src/coreComponents/constitutive/contact/FrictionBase.hpp
  src/coreComponents/finiteElement/CMakeLists.txt
  src/coreComponents/finiteElement/FiniteElementDiscretization.cpp
  src/coreComponents/finiteElement/FiniteElementDiscretization.hpp
  src/coreComponents/finiteElement/FiniteElementDispatch.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_Tetrahedron_Lagrange1_Gauss.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_TriangleFace_Lagrange1_Gauss.hpp
  src/coreComponents/finiteElement/elementFormulations/H1_Wedge_Lagrange1_Gauss6.hpp
  src/coreComponents/finiteElement/unitTests/testH1_Tetrahedron_Lagrange1_Gauss1.cpp
  src/coreComponents/finiteElement/unitTests/testH1_TriangleFace_Lagrange1_Gauss1.cpp
  src/coreComponents/linearAlgebra/CMakeLists.txt
  src/coreComponents/linearAlgebra/interfaces/hypre/HypreMGR.cpp
  src/coreComponents/linearAlgebra/interfaces/hypre/mgrStrategies/AugmentedLagrangianContactMechanics.hpp
  src/coreComponents/linearAlgebra/utilities/LinearSolverParameters.hpp
  src/coreComponents/mesh/utilities/ComputationalGeometry.hpp
  src/coreComponents/physicsSolvers/contact/ContactFields.hpp
  src/coreComponents/physicsSolvers/contact/ContactSolverBase.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsAugmentedLagrangianContact.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsAugmentedLagrangianContact.hpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/contact/kernels/SolidMechanicsALMKernels.hpp
  src/coreComponents/physicsSolvers/contact/kernels/SolidMechanicsALMKernelsBase.hpp
  src/coreComponents/physicsSolvers/contact/kernels/SolidMechanicsALMSimultaneousKernels.hpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/PoromechanicsKernels.cmake
  src/coreComponents/physicsSolvers/solidMechanics/kernels/SolidMechanicsKernels.cmake
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.cpp
Labels: type: feature, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests, ci: run code coverage

#3518 ci: Reactivate Sherlock
  .devcontainer/devcontainer.json
  .github/workflows/ci_tests.yml
  host-configs/Stanford/sherlock-base.cmake
  host-configs/Stanford/sherlock-gcc10-cuda11-ampere.cmake
  host-configs/Stanford/sherlock-gcc10-cuda11-volta.cmake
  host-configs/Stanford/sherlock-gcc10-cuda12-sm70.cmake
  host-configs/Stanford/sherlock-gcc10-ompi4.1.2-openblas0.3.10-cuda11.5.0-sm80.cmake
  host-configs/Stanford/sherlock-gcc10-ompi4.1.2-openblas0.3.10.cmake
  host-configs/Stanford/sherlock-gcc10.cmake
  host-configs/Stanford/sherlock-gcc8-cuda10-volta.cmake
  host-configs/Stanford/sherlock-modules.sh
Labels: ci: run CUDA builds, flag: requires updated TPL(s), flag: TPL(s) build check, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3446 feat: MpiWrapper::allReduce overload for arrays.
  host-configs/apple/macOS_base.cmake
  src/coreComponents/common/CMakeLists.txt
  src/coreComponents/common/MpiWrapper.hpp
  src/coreComponents/common/TypesHelpers.hpp
  src/coreComponents/common/initializeEnvironment.cpp
  src/coreComponents/fileIO/timeHistory/HDFHistoryIO.cpp
  src/coreComponents/finiteVolume/TwoPointFluxApproximation.cpp
  src/coreComponents/mesh/ParticleManager.cpp
  src/coreComponents/mesh/generators/InternalMeshGenerator.cpp
  src/coreComponents/mesh/generators/VTKUtilities.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBaseKernels.hpp
  src/coreComponents/physicsSolvers/contact/ContactSolverBase.cpp
  src/coreComponents/physicsSolvers/contact/SolidMechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/fluidFlow/FlowSolverBase.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsLagrangianFEM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsMPM.cpp
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsStatistics.cpp
  src/coreComponents/physicsSolvers/surfaceGeneration/SurfaceGenerator.cpp
  src/coreComponents/physicsSolvers/wavePropagation/sem/elastic/secondOrderEqn/isotropic/ElasticWaveEquationSEM.cpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage
