Repository GEOS-DEV/GEOS, pull requests merged in 2025-07, with the labels that each got.

#3686 fix: Add box name to message
  src/coreComponents/mesh/simpleGeometricObjects/Box.cpp
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3721 fix: restore solid mechanics stats output
  src/coreComponents/physicsSolvers/solidMechanics/SolidMechanicsStatistics.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline

#3694 fix: Replace stackArrayND with StackArray
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/CubicEOSPhaseModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/NegativeTwoPhaseFlash.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/ImmiscibleWaterFlashModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineDensity.cpp
Labels: type: bug, ci: run CUDA builds, ci: run integrated tests

#3710 refactor: Sanitise cubic EOS
  src/coreComponents/constitutive/CMakeLists.txt
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/CompositionalProperties_impl.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/CubicEOSPhaseModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/CubicEOSPhaseModel_impl.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/EOSStackVariables.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/FugacityCalculator.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/NegativeTwoPhaseFlash.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/SoreideWhitsonEOSPhaseModel.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/functions/SoreideWhitsonEOSPhaseModel_impl.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/CompositionalDensity.hpp
  src/coreComponents/constitutive/fluid/multifluid/compositional/models/PhillipsBrineDensity.hpp
  src/coreComponents/constitutive/unitTests/TestFluid.hpp
  src/coreComponents/constitutive/unitTests/TestFluidUtilities.hpp
  src/coreComponents/constitutive/unitTests/testBrineSalinity.cpp
  src/coreComponents/constitutive/unitTests/testCompositionalDensity.cpp
  src/coreComponents/constitutive/unitTests/testCompositionalPhillipsBrineDensity.cpp
  src/coreComponents/constitutive/unitTests/testCompositionalPhillipsBrineViscosity.cpp
  src/coreComponents/constitutive/unitTests/testCompositionalProperties.cpp
  src/coreComponents/constitutive/unitTests/testCubicEOS.cpp
  src/coreComponents/constitutive/unitTests/testImmiscibleWaterFlashModel.cpp
  src/coreComponents/constitutive/unitTests/testImmiscibleWaterProperties.cpp
  src/coreComponents/constitutive/unitTests/testLohrenzBrayClarkViscosity.cpp
  src/coreComponents/constitutive/unitTests/testMultiFluidTwoPhaseCompositionalMultiphase.cpp
  src/coreComponents/constitutive/unitTests/testNegativeTwoPhaseFlash.cpp
  src/coreComponents/constitutive/unitTests/testPressureTemperatureCoordinates.cpp
  src/coreComponents/constitutive/unitTests/testSoreideWhitsonEOSPhaseModel.cpp
  src/coreComponents/constitutive/unitTests/testSoreideWhitsonFlash.cpp
  src/coreComponents/constitutive/unitTests/testStabilityTest2Comp.cpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3727 refactor: reduce code duplication for poromechanics with fractures
  src/coreComponents/physicsSolvers/multiphysics/CMakeLists.txt
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.hpp
Labels: type: cleanup / refactor, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline

#3726 fix: Fix validation of depth tables
  src/coreComponents/physicsSolvers/fluidFlow/CompositionalMultiphaseBase.cpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3730 ci: add 3 tests for compositional Soreide-Whitson EOS
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/1D_100cells/1D_100cells.ats
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/1D_100cells/1D_benchmark.xml
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/1D_100cells/1D_smoke.xml
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/1D_100cells/injection_bhp.png
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/1D_100cells/production_rates.png
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/1D_100cells/readVTK.py
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/gravSeg/gravSeg.ats
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/gravSeg/gravSeg.xml
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/InitCond/x.csv
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/InitCond/y.csv
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/InitCond/z.csv
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/InitCond/zCH4.csv
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/InitCond/zCO2.csv
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/InitCond/zH2O.csv
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/InitCond/zH2S.csv
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/lockExchange.ats
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/lockExchange_Z.xml
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/lockExchange_base.xml
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/lockExchange_rho.xml
  inputFiles/compositionalMultiphaseFlow/soreideWhitson/lockExchange/setUpLockExchange.py
Labels: ci: run CUDA builds, flag: requires rebaseline, type: CI, ci: run integrated tests

#3732 fix: add numTimestepsSinceLastDtCut to restart
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/PhysicsSolverBase.cpp
  src/coreComponents/physicsSolvers/PhysicsSolverBase.hpp
Labels: type: bug, ci: run CUDA builds, flag: requires rebaseline, ci: run integrated tests

#3740 fix: add missing updateHydraulicApertureAndFracturePermeability for sequential
  .integrated_tests.yaml
  BASELINE_NOTES.md
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsConformingFractures.hpp
Labels: type: bug, ci: run CUDA builds, flag: ready for review, flag: requires rebaseline, ci: run integrated tests

#3704 feat: Add enthalpy to PVT Driver output
  src/coreComponents/constitutiveDrivers/docs/PVTDriver.rst
  src/coreComponents/constitutiveDrivers/fluid/multiFluid/PVTDriver.cpp
  src/coreComponents/constitutiveDrivers/fluid/multiFluid/PVTDriverRunTest.hpp
  src/coreComponents/unitTests/constitutiveTests/testPVT_CO2Brine.xml
  src/coreComponents/unitTests/constitutiveTests/testPVT_CO2Brine_testCo2BrinePhillipsMixtureThermalA.txt
  src/coreComponents/unitTests/constitutiveTests/testPVT_CO2Brine_testCo2BrinePhillipsMixtureThermalB.txt
  src/coreComponents/unitTests/constitutiveTests/testPVT_data/brinePVT_thermal.txt
  src/coreComponents/unitTests/constitutiveTests/testPVT_data/carbonDioxidePVT_thermal.txt
Labels: ci: run CUDA builds, ci: run integrated tests, flag: no rebaseline, ci: run code coverage

#3556 fix: enable BartonBandis model for contact solver
  .integrated_tests.yaml
  BASELINE_NOTES.md
  inputFiles/poromechanicsFractures/PoroElastic_conformingFracture_2d_faultSlip_BartonBandis_base.xml
  inputFiles/poromechanicsFractures/PoroElastic_conformingFracture_2d_faultSlip_BartonBandis_benchmark.xml
  inputFiles/poromechanicsFractures/PoroElastic_conformingFracture_2d_faultSlip_BartonBandis_smoke.xml
  inputFiles/poromechanicsFractures/poromechanicsFractures.ats
  src/coreComponents/constitutive/contact/BartonBandis.cpp
  src/coreComponents/constitutive/contact/BartonBandis.hpp
  src/coreComponents/constitutive/contact/FrictionBase.hpp
  src/coreComponents/constitutive/contact/HydraulicApertureTable.hpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolver.cpp
  src/coreComponents/physicsSolvers/multiphysics/HydrofractureSolverKernels.hpp
  src/coreComponents/physicsSolvers/multiphysics/MultiphasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/PoromechanicsConformingFractures.hpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsConformingFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/SinglePhasePoromechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/multiphysics/poromechanicsKernels/SinglePhasePoromechanicsFractures.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/ContactSolverBase.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsEmbeddedFractures.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/SolidMechanicsLagrangeContact.cpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsALMKernels.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsALMKernelsBase.hpp
  src/coreComponents/physicsSolvers/solidMechanics/contact/kernels/SolidMechanicsEFEMKernels.hpp
Labels: type: feature, ci: run CUDA builds, flag: ready for review, Theme - FF, ci: run integrated tests, ci: run code coverage
